[2020-02-06 16:30] cbeams opened #9 "Clean up roles and bonding"
Project board: https://github.com/orgs/bisq-network/projects/10

 - [ ] Decide on and communicate how we will handle bond interest (bisq-network/admin#30)
 - [ ] Assess the state of all roles and bonds (bisq-network/admin#4)
 - [ ] Follow up with owners to close any gaps
 - [ ] Transcribe http://docs.bisq.network/roles.html documentation to wiki 'Roles' article
   - [x] @cbeams to create stub at h

[2020-02-06 21:28] cbeams opened #1 "Establish project management process"
Board: https://github.com/orgs/bisq-network/projects/8

## Description

This project defines a project management process for the Bisq DAO.

## Rationale

_See also: https://bisq.wiki/Project_management#Purpose and https://bisq.wiki/Project_management#Philosophy_

Many if not most of the things we set out to accomplish under the Bisq DAO are best thought of and managed as _projects._ There are exc

[2020-02-06 21:35] cbeams opened #6 "Establish support knowledge base"
- [ ] @Bisq-knight to add two draft KB articles
- [ ] @m52go to take a look, provide any initial editorial feedback
- [ ] @cbeams to add category info and announce to @bisq-network/support

[2020-02-07 19:24] cbeams opened #5 "Establish support case tracking process"
_/cc @bisq-network/support-agents (so everyone is aware of this work in progress)_

## Delivery criteria
 - [ ] Wiki documentation of the [case tracking process](https://bisq.wiki/Support_Agent#Case_tracking) is complete
 - [ ] All support agents understand how to track their cases and are actually doing so
 - [ ] Script(s) exist that process closed support case issues and produce the simple metri

[2020-02-10 18:13] cbeams opened #7 "Establish compensation request review process"
Board: https://github.com/orgs/bisq-network/projects/13

_@bisq-network/team-leads and @bisq-network/compensation-maintainers, please read and respond to this asap, as it deals with the orderly processing of Cycle 10 compensation requests, thanks._

## Criteria for delivery

- [x] All Cycle 10 compensation requests submitted by the Monday Feb 10th deadline have been reviewed by their respective te

[2020-02-10 18:19] cbeams commented on #7
Note that the first two sections of the process:

1. Submit compensation request GitHub issues
2. Add new compensation requests to the Compensation Requests board

have **already been completed** for Cycle 10. What's needed to complete the process for Cycle 10 are the remaining three sections:

3. Team lead review
4. Submit compensation request DAO proposals
5. Close compensation requests after vo

[2020-02-10 18:30] m52go commented on #7
This seems reasonable to me, but I don't understand the role of the project board. Could we achieve the purpose of the board with issue tags (i.e., in-progress, awaiting-review, etc)?

[2020-02-10 18:33] cbeams commented on #7
The board is for better visual management and to make the process/workflow quite explicit. This reminds me to give team-leads write access to the compensation repository so that we can all transition the issues as discussed. I would say let's try it with the board this time around, and if it seems like overkill we consider dropping it in a later cycle.

[2020-02-10 18:36] cbeams commented on #7
@bisq-network/team-leads and @bisq-network/compensation-maintainers, please check the box next to your name in the description comment when you've reviewed this and provided feedback (if any).

[2020-02-11 01:27] wiz commented on #7
Great process. However, maybe we need to be more clear on who is approving/reviewing which line items in the compensation request. It would be cleaner to only submit one compensation request per team but that might be too much paperwork.

[2020-02-11 01:35] wiz commented on #7
Also, for best practices please require contributors to post TXID of their DAO proposal as the final step in the process, to discourage impersonation scams. Remember, several of us have previously been impersonated in slack, email, etc.
<img width="434" alt="Screen Shot 2020-02-10 at 23 14 44" src="https://user-images.githubusercontent.com/232186/74205301-249b3180-4cba-11ea-9f5f-039bce50dd08.png">

[2020-02-11 06:56] m52go commented on #7
@cbeams which team lead is reviewing compensation requests for support? Is it you?

[2020-02-11 08:29] MwithM commented on #7
If there's disagreement on a rejected request, where should discussion occur? Here or Keybase #compensation channel? I was leaving rejected requests open for a week or so for discussion.
I suppose that rejected compensation requests will be very rare, as they will be already reviewed by team leaders, meaning it's a delivered task, but just in case.

[2020-02-11 16:41] leo816 commented on #7
Great process, this seems fair to me.

[2020-02-11 17:06] cbeams commented on #7
@wiz wrote:

From the `Submit compensation request DAO proposals` section:

@m52go wrote:

Yes, me, with the goal that @leo816 takes over in a subsequent cycle. My assignments on the board should already reflect this.

@leo816 wrote:

Great. I've checked the box next to your name on your behalf.

@MwithM wrote:

Comments / discussion can continue on an issue even after it is closed. I'd say it mak

[2020-02-11 17:24] cbeams commented on #7
@bisq-network/team-leads, I just made the following change:

<img width="644" alt="image" src="https://user-images.githubusercontent.com/301810/74261022-d22e3500-4cfa-11ea-93e4-90d4b8dd4e2d.png">

You can see an example of how @wiz did this at https://github.com/bisq-network/compensation/issues/481#issuecomment-584460260. It's important to add a comment to this effect, because otherwise the contri

[2020-02-11 22:07] Bisq-knight commented on #6
Two first articles added:
https://bisq.wiki/Bisq_wallet << special thanks to @MwithM for making it look much nicer
https://bisq.wiki/Tor_%26_connectivity << still struggling to get images and screenshots there

------

I have a couple of topics i want to approach which can be found [here](https://cryptpad.fr/sheet/#/2/sheet/edit/pqWubrirqyZAynh3beXpLaF7/). Suggestions are welcome

[2020-02-11 22:10] cbeams commented on #7
Heads up, I just renamed `Waiting for Team Lead Review` to `In Review` and renamed `Reviewed by Team Lead` to `Review Complete`.

The reason for the change to `In Review` is that issues in this column aren't always strictly waiting for the team lead. They may be waiting for the contributor to respond to team lead feedback. In any case, all such issues are "in review" until they're transitioned to

[2020-02-17 08:29] cbeams opened #2 "Establish budgeting process"
Board: https://github.com/orgs/bisq-network/projects/9

[2020-02-17 08:30] cbeams opened #3 "Establish team-based organizational structure"

[2020-02-17 08:31] cbeams opened #4 "Establish support team scheduling and escalation process"
Board: https://github.com/orgs/bisq-network/projects/2

[2020-02-17 08:45] cbeams opened #8 "Roll out the Bisq Wiki"
Board: https://github.com/orgs/bisq-network/projects/14

## Description

Introduce a MediaWiki instance at https://bisq.wiki, initially for the purpose of a Bisq support knowledge base, but eventually to replace docs.bisq.network.

This project is Phase 1: standing up and effectively rolling out the wiki
Transcribing and potentially decommissioning docs.bisq.network is Phase 2 and will be managed

[2020-02-17 08:48] m52go commented on #6
Is there any place we can put wiki contribution guidelines/suggestions? Maybe just create a new page for it?

I'm particularly interested in specifying that screenshots should omit the OS window border, since everyone runs something different, and to use the same template for all arrows (I have one I've used for all arrows on docs.bisq.network).

Disregard if this isn't a viable/appropriate idea f

[2020-02-17 09:18] cbeams opened #10 "Evaluate and improve account signing propagation"
## Description
We have reason to believe that account signing protections rolled out in 2019 have not reached a critical mass of propagation in certain markets and may be impeding liquidity growth. This project exists to assess the actual state of propagation and take actions to improve it where necessary.

## Rationale
As it is critical to prevent scam attempts in markets with high liquidity with

[2020-02-17 09:20] cbeams opened #11 "Ship Daemon and gRPC API"
## Project Board

https://github.com/orgs/bisq-network/projects/17

Refer to the project board to track progress of issues and PRs.

## Description

The API Project’s scope includes exposing a Core API using gRPC, and serving a Linux / OSX based gRPC CLI and RESTful web clients.

The API should be able to perform all functions now provided by the Bisq desktop UI.  The release process is incrementa

[2020-02-17 09:20] cbeams opened #12 "Ship new user onboarding workflow"

[2020-02-17 09:22] cbeams opened #13 "Establish network usage metrics"
## Description

See bisq-network/bisq#3916

Citing essential data points and KPIs for desktop client from issue above

## Rationale
If we don't have a baseline and metrics in place to measure our success we'll never be able to tell if some change was a success or a big failure.

As we don't want to include general tracking within the client, which would hurt user privacy, we'll monitor public avai

[2020-02-17 09:24] cbeams opened #14 "March 2020 Growth Reset"
_This project was initially titled 'Bitcoin 2020' but has been renamed since the Bitcoin 2020 conference has been unexpectedly postponed._

Board: https://grow.bisq.cc/b/jPBBopYuLdGYdDpvF/markets

## Description

Bisq growth efforts in recent past have been relatively muted. Aside from documentation, resources to make using Bisq _simple_ have been scarce.

This effort aims to encourage volume in U

[2020-02-17 09:37] cbeams commented on #6
Just a new page is fine for a start. See

 - https://en.wikipedia.org/wiki/Category:Wikipedia_style_guidelines
 - https://en.wikipedia.org/wiki/Wikipedia:List_of_guidelines

for reference. Perhaps a page simply titled https://bisq.wiki/Guidelines would be fine for now, simply listing out the various guidelines and rules we'd like to establish.

True, but in my experience, the convenience of CMD-SH

[2020-02-17 10:27] cbeams opened #15 "Support sending to SegWit/Bech32 addresses"
## Description

Currently Bisq does not support sending funds from its wallet to external SegWit / Bech32 addresses. Being able to do so is amongst Bisq's most requested features. See detailed comment thread at https://github.com/bisq-network/bisq/issues/1139.

## Criteria for delivery

## Tasks

[2020-02-17 10:39] cbeams opened #16 "Establish critical bugs board and process"
Board: https://github.com/orgs/bisq-network/projects/11

- [x] @ripcurlx to list current set of known bugs at https://docs.google.com/spreadsheets/d/199UV61b3A8QylMmYZMw-FT79N9VgKRvYAwC9pF4TWE0/edit#gid=0
 - [x] @cbeams to create [Critical Bugs board](https://github.com/orgs/bisq-network/projects/7)
   - [x] @cbeams to add a few items from the spreadsheet to the board to get things started
 - [x]

[2020-02-17 12:58] cbeams commented on #7
UPDATE: I've just migrated the compensation requests board from being a project within the bisq-network/compensation repository to being an org-level project at https://github.com/orgs/bisq-network/projects/5. I have updated the relevant links and text in the description of this issue, and everything else process-wise remains the same. This change is part of a larger effort that I'll communicate m

[2020-02-17 13:59] m52go commented on #7
May I suggest we standardize the compensation request format such that parsing them can be automated?

I mention it here, because if we did it, ensuring each request conformed to the standard would be a part of this review process. But let me know if it's better discussed elsewhere.

It's time-consuming and error-prone to add issuances from each compensation request by hand, which is something we'

[2020-02-17 15:21] cbeams commented on #7
UPDATE: It looks as if the process worked well for us to get through reviewing Cycle 10 requests. What remains to consider this project delivered is to document the process on the wiki. I've started that process and have asked @MwithM to complete it in bisq-network/admin#32.

Thanks everyone for your participation, and if you have further feedback or tweaks to suggest, please keep them coming. Now

[2020-02-17 15:39] cbeams commented on #7
@m52go wrote:

Certainly. This is similar to what we're rolling out with support case tracking issues, to automate the process of extracting metrics from them.

In any case, it should be managed as it's own little project, because it'll be a multi-task effort, including:

 - Writing the script to extract and parse compensation request issue data from the GitHub API
   - The script should query for

[2020-02-17 15:41] cbeams commented on #1
With regard to documenting this process, see https://github.com/bisq-network/projects/issues/7#issuecomment-587050443, where I explained to @m52go how things are designed to work in a nutshell.

[2020-02-18 11:17] MwithM commented on #7
Should Compensation Maintainer wait a few days before cleaning the board? Otherwise, the "closed" column is pretty irrelevant.
I would prefer to wait something like 5 days before cleaning the "closed" column.

I performed some additions to this process at the [Wiki](https://bisq.wiki/Compensation#Processes_by_role) that I have to share:
I thought that it might be nice to announce deadlines for sub

[2020-02-18 11:25] ripcurlx commented on #16
* [x] @ripcurlx to go through spreadsheet and add critical bugs to the new board
* [x]  @ripcurlx to transcribe any notes and linked issues from the spreadsheet to the actual critical bug

[2020-02-18 14:01] cbeams commented on #1
@bisq-network/team-leads, I've just fleshed out the description of this issue into a complete project proposal. It's rather meta, as this (first) project is about establishing a project management process, but you'll get the idea. The next step is to discuss this with the larger `@bisq-network/dao` team, so I'd appreciate your feedback on this as quickly as possible here as comments or in teamlead

[2020-02-19 08:46] leo816 commented on #16
- [x] @leo816 to work with @ripcurlx to make sure critical bugs listed in private support spreadsheet are reflected on the new board

[2020-02-19 14:39] cbeams commented on #7
@MwithM wrote:

Echoing what I wrote above in https://github.com/bisq-network/projects/issues/7#issuecomment-584741216, I believe the compensation maintainer should close issues with the appropriate `was:accepted` / `was:rejected` label and a corresponding comment as soon as possible after the vote reveal. This simply reflects the real state of the compensation request. At that point, the issues w

[2020-02-20 12:01] cbeams opened #17 "Increase Liquidity"

[2020-02-20 12:02] cbeams opened #18 "Improve Support"

[2020-02-20 12:02] cbeams opened #19 "Improve Reliability"

[2020-02-20 12:03] cbeams opened #20 "Improve Onboarding"

[2020-02-20 12:03] cbeams opened #21 "Improve Management"

[2020-02-20 12:38] cbeams commented on #16
@ripcurlx, now that the Critical Bugs board is in place and populated, we're getting close to this project being complete. What remains is to document and announce the board and its process. To that end, I've created a stub at https://bisq.wiki/Critical_Bugs. Would you be willing to flesh it out? If so, please create an admin task, assign it to yourself and reference it here, thanks.

You'll see t

[2020-02-20 13:44] cbeams commented on #9
- [ ] Change how we assign role issues, such that they are assigned to the team lead responsible for it, as opposed to be assigned to the owner(s) of that role. This is primarily to avoid duplication of information. The canonical source of information about who owns which role(s) is our various GitHub teams. Trying to replicate that information in the assignees list of each role issue guarantees d

[2020-02-21 08:12] ripcurlx commented on #16
- [x] Updated wiki page for critical bugs: https://bisq.wiki/Critical_Bugs

[2020-02-21 08:25] ripcurlx commented on #16
- [x] announced critical bugs board in GitHub dev team as discussion: https://github.com/orgs/bisq-network/teams/dev/discussions/2

[2020-02-21 08:25] ripcurlx commented on #16
@cbeams Do you want to close this issue after your wiki edits?

[2020-02-21 08:26] cbeams commented on #16
yes, will do.

[2020-02-21 10:01] ripcurlx commented on #10
@cbeams Could you give @bisq-network/team-leads the option to edit issues as well. In that case I want to adapt it to our desired project structure.

[2020-02-21 10:02] cbeams commented on #16
Actually, this project shouldn't be considered complete until the board and process are linked to from the places that (especially new) developers would look to as a reference on our development process. I've added checkboxes in the description to this effect. I would be fine if these links are surgically added in a rough / quick way. We should more fully revise and unify the resources mentioned t

[2020-02-21 10:49] cbeams commented on #10
Done. I thought Triage was going to be enough after all, but it's not. Team leads now have Write access now to this (projects) repository.

[2020-02-21 11:04] ripcurlx commented on #16
- [x] https://bisq.wiki/Development_Process
- [x] https://docs.bisq.network/contributor-checklist.html
  - [x] Create PR: https://github.com/bisq-network/bisq-docs/pull/193
- [x] CONTRIBUTING.md in the main repo
  - [x] Create PR: https://github.com/bisq-network/bisq/pull/3996

[2020-02-21 12:07] cbeams commented on #16
Ok, I've updated the description to reflect recent proliferation of links to the critical bugs article in all the right places. We're just waiting on the two PRs to be merged, and I think we can consider this project delivered.

[2020-02-21 12:55] ripcurlx commented on #16
Both PRs were merged: Seems to be a very active maintainer 😉

[2020-02-21 12:55] #16 closed

[2020-02-21 13:11] cbeams commented on #16
Please actually check boxes in the description when you complete them, thanks. It's also OK to re-post them as comments as has been done above here, but the only essential thing is to check the boxes in the description and add a comment saying you've done so. Thanks.

[2020-02-21 13:30] ripcurlx commented on #13
@freimair Could you please provide the tasks that are needed to complete this project?
Please also the already completed ones. Thanks!

[2020-02-21 14:27] cbeams commented on #13
I'll just add here that the purpose of this project as originally conceived is to support our goal of improving onboarding. We need these (certain, specific) metrics in place, with some historical baseline being established, in order to effectively measure whether our new onboarding workflow implementation is actually helping anything. @ripcurlx, I'd suggest transcribing that and whatever else you

[2020-02-21 14:44] ripcurlx commented on #13
Transcribed the relevant parts from the issue into the `Rationale` section

[2020-02-22 09:38] freimair commented on #13
here is the tasks list
- [x] design metrics [via](https://github.com/bisq-network/bisq/issues/3916#issue-554209277)
- [x] proof-of-concept [via](https://github.com/bisq-network/bisq/issues/3916#issuecomment-579772122) and [via](https://github.com/bisq-network/bisq/issues/3916#issuecomment-580229880)
- [x] create log scraper scripts and monitoring infrastructure
- [x] unplanned: create one-cmd-inst

[2020-02-24 14:24] cbeams commented on #16
I just want to note here that this is our first delivered project under the new proposed project management infrastructure at #1. When we put together the first review meeting, we can go over this as an example.

I've just labeled the project as `was:delivered` accordingly.

[2020-02-24 15:01] cbeams commented on #1
With bisq-network/admin#41, I've fleshed out the remaining tasks for this project and represented them on the dedicated project board at https://github.com/orgs/bisq-network/projects/8. I've removed all the checkboxes from the `Tasks` section of the description above and simply linked to the project board.

As a general note on the emerging process here, I have a feeling this (dedicated boards per

[2020-02-24 18:31] freimair opened #22 "Create more detailed offerbook metrics"
# Description

In order to make more informed decisions in the field of growth efforts, we have to better understand our markets. @m52go came up with the idea that we need to understand why a particularly good day (in terms of trading volume) happened, so that we may learn to tweak the environment to make such a "good day" more likely. Understanding a bygone offer book seems like a good place to s

[2020-02-25 08:31] ripcurlx commented on #13
Thanks! Regarding the two unplanned task: Does this change the estimated budget above? If yes, by how much?

[2020-02-25 12:26] freimair commented on #13
yes, these tasks require an additional 550 USD for me (and 200 for wiz i believe) already acked by @wiz as part of the opsdev budget.

[2020-02-25 14:31] cbeams commented on #7
Closing as delivered. Thanks to everyone who participated in this project!

[2020-02-25 14:31] #7 closed

[2020-02-25 18:16] freimair opened #23 "Migrate to Tor v3 onion service protocol"
This project is about migrating from Tor Hidden Services version 2 to Tor onion services version 3 and the required steps to do so.

## Rationale

### Why do we want to update?
- we expect significant improvements during startup
- improves security/privacy
- might fix https://github.com/bisq-network/bisq/issues/3987
- might prevent clients/seednodes from occasionally being denied access to the Tor

[2020-02-27 11:49] cbeams commented on #6
Closing as superseded by #8. Regarding the (lack of) need for a specific "Knowledge Base" within the wiki, see yesterday's screencast on wiki organization at bisq-network/wiki#16.

[2020-02-27 11:49] #6 closed

[2020-02-27 13:54] ripcurlx commented on #13
So the total amount for this project is 2750 USD, correct?

[2020-02-27 16:21] freimair commented on #13
| task | estimate | receiver |
| --- | ---:| --- |
| create the data gathering infrastructure tools | USD 500,00 | @freimair |
| update monitoring daemon to deliver additional metrics | USD 450,00 | @freimair |
| create installer for general monitoring | USD 550,00 | @freimair |
| create pricenode installer | (?) USD 200,00 | @wiz |
| deploy the tools | 5 * 150 = USD 750,00 | price node operator |

[2020-02-28 12:25] ripcurlx opened #24 "Migrate to Tor v3 onion service protocol"
## Description
This project is about migrating from Tor Hidden Services version 2 to Tor onion services version 3 and the required steps to do so.

## Rationale

### Why do we want to update?
- we expect significant improvements during startup? - yes
- improves security/privacy? - yes (better crypto, no longer sha1)
- solves our connection issue with seednodes,...? - unknown, maybe
- we expect a p

[2020-02-28 15:55] #24 closed

[2020-02-28 15:56] ripcurlx commented on #24
Superseded by https://github.com/bisq-network/projects/issues/23

[2020-03-02 11:04] cbeams commented on #24
Thanks, @ripcurlx. Note that I've just added the `was:superseded` label. It's important from the Master Projects Board perspective to see a `was:*` label on each closed project, so it's easy to distinguish which were delivered / dropped / superseded, etc.

[2020-03-02 14:41] cbeams commented on #15
I've labeled this as blocked on resources and am closing as deferred until that situation changes. See the comments at bisq-network/bisq#1139 for details.

[2020-03-02 14:41] #15 closed

[2020-03-05 17:07] freimair opened #25 "Reduce bandwidth-requirement on Bisq app startup"
During startup, Bisq is required to send >4MB of data to seednodes in order to get its initial data. This is an issue because
- these requests tend to timeout on slow internet connections and leave the users stranded.
- the protocol as is does not scale and thus, startup will eventually become a much bigger issue

The primary goal of this project is to reduce the amount of data to be sent on start

[2020-03-05 20:51] cbeams commented on #1
As per bisq-network/admin#48, I've just significantly revised the description of this project, simplifying it, removing unnecessary aspects, and referring to relevant sections of the newly-published https://bisq.wiki/Project_management article where appropriate.

[2020-03-06 09:23] freimair commented on #25
I just compiled in some more data

[2020-03-06 11:25] cbeams commented on #23
Reflecting our call last week on this project, I've just applied the `has:approval` and `has:budget` labels with regard to the first (proof of concept) milestone. @freimair, please transition this issue to the `In progress` column if indeed work is underway (which I believe it is).

[2020-03-09 17:37] mpolavieja commented on #10
@ripcurlx , @cbeams could you please consider to include this feature to improve the signing process?  Thanks.

https://github.com/bisq-network/proposals/issues/133

[2020-03-11 16:33] Bayernatoor opened #26 "Create get started guide"
The Get started guide is now complete. Feedback on it would be great. For the most part i've transcribed what was on docs.bisq.network and added or refined the information.

Most use cases are quick and to the point. The Take an offer use case is a tad longer but it is a more detailed use case and requires a longer walk through.

Please advise if this issue would be better off in a different locat

[2020-03-12 05:38] wiz opened #27 "Migrate Bisq pricenodes from earn.com fee estimation API to our own self-hosted mempool fee estimation API service"
## Description

This is a project proposal to migrate Bisq pricenodes away from using the earn.com fee estimation API in favor of an open-source self-hosted mempool fee estimation API backend, that we can decentralize further by having all Bisq btcnode operators run.

## Rationale

Whenever the Bitcoin market sees major price action, trading volume suddenly spikes, which results in a huge rush of

[2020-03-12 15:30] m52go commented on #8
@cbeams are we looking to make an "official" announcement to roll out the wiki?

So far it seems we're adding articles and linking to them as it's expedient...would it be acceptable to do this more publicly right now (i.e., Twitter), or would it be better to wait until a certain time (e.g., when this project is marked delivered)?

Specific example: want to promote L-BTC trading on Bisq, make video

[2020-03-13 03:43] cbeams commented on #8
Please link to specific articles as necessary. We shouldn’t announce anything at least until we have a proper main page.

[2020-03-13 07:49] freimair commented on #13
[here](https://monitor.bisq.network/d/dEVJDduWz/networksize-playground?orgId=1&from=now-24h&to=now) is a preliminary set of graphs. Please note that the network size is only provided by one pricenode and is multiplied x8 for a rough estimation of real numbers.

We have to discuss the second KPI, ie. `Number of available offers > Number of trades`. The number of available offers is a snapshot of a

[2020-03-13 14:10] wiz commented on #27
This issue is reproducing now since the mempool suddenly surged again. The mempool backend adjusts fee estimates in realtime, but Earn.com is lagging behind hard...

<img width="1442" alt="Screen Shot 2020-03-13 at 22 34 38" src="https://user-images.githubusercontent.com/232186/76628192-b3cc8b00-657f-11ea-9631-abfc4397286c.png">

[2020-03-19 11:05] freimair commented on #13
## Report Review Meeting 2020-03-19

- we have preliminary data coming in including the KPIs [here](https://monitor.bisq.network/d/dEVJDduWz/networksize-playground?orgId=1)
- scripts are ready to be deployed
- yet, in foresight to [the tor hidden service update](https://github.com/bisq-network/projects/issues/23), I decided to first create the scripts for version scraping, so we can reduce resourc

[2020-03-19 11:19] freimair commented on #23
## Report Review Meeting 2020-03-19

- all on track
- testing setup is in progress
  - talked to @devinbileck about testing strategies and he will create a testplan instance once required
  - binaries for all platforms and testing will be prepared
  - then, testing can commence
- I am confident that we can complete the proof-of-concept milestone by end of march.
- first tasks of the ship-it milest

[2020-03-20 07:55] cbeams commented on #23
Roger that, @freimair. Thanks for the update even in the absence of yesterday's planned (but cancelled) review meeting.

[2020-03-20 07:59] cbeams commented on #13
It's great to walk through the dashboard and see this data!

[2020-03-31 10:11] freimair commented on #23
# Performance eval
**TL;DR** hidden service publishing time has dropped from around 33 seconds to <5 seconds, no significant changes otherwise

- 2 evaluations
  - use the monitor for "isolated" Tor measurements
  - Integration tests: start Bisq app to confirm findings

_Recent changes to Bisq had an impact on the startup times already, so I decided to get the baseline manually instead of relying

[2020-04-01 09:20] cbeams commented on #25
Regarding the following items from the description above:

Do you intend here to check these binary blobs into the main Bisq repository, or something else? I would really like to avoid adding more binary data to the repository (as we're already doing with all the stuff in `p2p/src/main/resources`).

[2020-04-01 09:28] cbeams commented on #25
If checking the blobs in is the intended solution, @freimair, I'd like us to look into doing this properly with Git LFS instead, and at the same time migrating the `p2p/src/main/resources` files there, too. GitHub has a free tier we might want to start with. I ran some basic numbers and I think we could get away with it, but it depends on how many people are cloning the repository every month (bec

[2020-04-01 09:31] cbeams commented on #25
Also, from the introduction:

I'm unfamiliar with this problem, and reading this doesn't help me understand what's really going on. Why would a Bisq node need to _send_ so much data to its seednode(s)? I could understand that it might need to receive quite a bit of data, but I'm clearly missing something. I read through the rest of the description a couple times and I don't think this is ever made

[2020-04-01 11:58] freimair commented on #25
- sorry, I took that as common knowledge, because that is how Bisq always worked
- let the ELI5 commence:
  1. on startup, the Bisq app asks the seed node for a "distributed-database update"
  2. In order to not burden the seednode to send all the data (> 12MB), Bisq tells the seednode which objects it already has (ie. sends data to the seednode).
  3. The seed node then only sends the data the bi

[2020-04-02 19:24] cbeams commented on #25
The proposal looks well-formed, so I've removed the `needs:triage` label and added `needs:approval` per the [process](https://bisq.wiki/Project_management#Triage).

I am simply not well-informed enough about the details and alternatives to give a meaningful thumbs-up on approving this, but mine is just one voice. Like any other proposal, we should be looking for a broader consensus of interested a

[2020-04-02 19:26] cbeams commented on #25
And regarding my comments about Git LFS above, see bisq-network/bisq#4114, which will be treated separately from this project.

[2020-04-03 04:42] wiz commented on #25
This is a critical issue that reproduces on slow network connections often now

[2020-04-03 13:39] ripcurlx commented on #25
For me this is a critical issue atm for some of our users, but as mentioned the group of people affected by this is growing every day. So from my side it would be a 👍 to start working on this project.

[2020-04-06 09:13] cbeams commented on #25
@ripcurlx, I'll add the `has:budget` label, then.

It would be great to see more engagement on approval, but even though we've gotten only a few comments here, it sounds like there's consensus we should go head. I'll add the `has:approval` label accordingly.

[2020-04-06 09:14] cbeams commented on #25
@freimair, please move this to `In Progress` as and when appropriate.

[2020-04-06 10:53] freimair opened #28 "Refactor send-message business logic in Connections"
## Description

The business logic of sending messages needs some love. During https://github.com/bisq-network/bisq/pull/4047, it became apparent, that the logic might miss sending messages entirely. Main takeaways from the project:
- long term: ground work that improves reliability.
- short term: maybe get rid of spurious message loss (during trade or mediation)

## Rationale

### Why is it impor

[2020-04-07 09:21] freimair opened #29 "Migrate datastores to real database"
## Description

This project is about replacing the storage infrastructure with a real database we can query using SQL.

## Rationale

### Why is it important?
Until now, data stores have been persisted by serializing data to Protobuffer and then writing that to disk. Because of that and as the data stores grow, we see
- massive disk I/O
- high CPU loads
- higher then necessary RAM requirements.

[2020-04-07 16:41] wiz commented on #29
As some background information, in case the reason why this is a critical bugfix is not directly obvious, is because recently we are seeing support cases from users with either invalid / corrupted payout TX, or more recently, the payout TX being deleted or lost by bisq internally somehow. We believe it is due to the datastore issues

[2020-04-08 08:44] freimair commented on #29
well, new to me, but bring it on. the more bugs we can fight off with this the better.

[2020-04-23 22:23] dmos62 opened #30 "Introduce interface between Bisq and BitcoinJ"
## Description

This is a proposal for introducing an explicit Java interface between Bisq and BitcoinJ, with the purpose of improving maintainability of our Bitcoin network code.

## Rationale

### In summary

###### Why is it important?

- Our Bitcoin network code is very difficult to maintain, which threatens reliability and blocks some features (SegWit). This would improve maintainability and

[2020-04-27 11:43] freimair commented on #29
@cbeams, @ripcurlx: Its been 3 weeks and we have 3 :+1: and I believe a decision is due. What is there to wait for?

Additionally, just to make it clearer, I would aim to allow for different SQL-compatible backends. Especially,
- file-based, low performance but easy-to-deploy backend for Bisq clients (H2 for example)
- full-fledged, high performance but harder-to-setup database services for our se

[2020-04-27 12:58] ripcurlx commented on #29
@freimair Do you see any additional security risk if we are using a DB based storage?

[2020-04-27 15:31] freimair commented on #29
- **for the client Bisq app**: absolutely not, there is no change in the security model. It is files now, it will be files then. _Protobuf_ is no encryption, neither is H2.
- **for server environments**: no, again, it is files now, it will be files then. If done right, it might be more secure even - given a proper setup (access restrictions at user level, authentication, ...). But even if the data

[2020-04-28 09:47] cd2357 commented on #27
Have you considered using the [estimatesmartfee](https://bitcoin.org/en/developer-reference#estimatesmartfee) call from Bitcoin Core?

[2020-04-29 12:14] cbeams commented on #26
Sorry I missed this when you first added it, @Bayernatoor. Yeah, bisq-network/wiki would be a better location, as work isn't about a project.

I'll close this out now, feel free to add a comment to the new issue here when you create it.

[2020-04-29 12:14] #26 closed

[2020-04-29 14:27] chimp1984 commented on #28
I doubt that it has a bigger impact on that. At shutdown of headless nodes there is/was no graceful shutdown, but they don't send crucial messages (trade, dispute). GUI clients do a graceful shutdown and the only case where it might be critical is when a crucial message was sent and the user immediately shuts down the app (or kills it hard). Even with a graceful shutdown there should be enough tim

[2020-04-30 09:37] freimair commented on #28
actually, before https://github.com/bisq-network/bisq/pull/4047, even with "graceful shutdown", tor has been terminated before all messages have been flushed out. No RemoveOfferMsg, no CloseConnectionMsg. And, there is no central queue and there could be severe consequences to that. Here is the scenario:

1. A critical message might be "queued" in a UserThread.runAfter(>0, connection.sendMessage(.

[2020-05-01 11:34] cbeams opened #31 "Repay April 2020 security incident victims"
Board: https://github.com/orgs/bisq-network/projects/16

## Description
Repay victims of the [April 2020 security incident](https://bisq.network/statement-security-vulnerability-april-2020) per the plan detailed in proposal bisq-network/proposals#209 (approved in Cycle 12).

## Rationale
The rationale is covered in the proposal linked above.

## Criteria for delivery / Measures of success
All vict

[2020-05-03 10:29] ifarnung commented on #27
Please everyone take a look at this proposal, this is a very serious issue both in terms of "too low" estimates in rising mempools and WAY "too high" fees in shrinking mempools.
![image](https://user-images.githubusercontent.com/55181240/80911917-13eeda80-8d42-11ea-91bb-50bd5db5c4a9.png)

The mempool just emptied out and Bisq is still forcing users to pay 97 sats per byte.  I, for one, won't be tr

[2020-05-03 13:18] cd2357 commented on #27
If my understanding is correct, all Bisq nodes have access to Bitcoin Core (either to a local node, or through a service interface exposed by a full node).

In that case, why not just use Bitcoin Core's mechanism for fee estimation? They already expose it through their API: [estimatesmartfee](https://bitcoin.org/en/developer-reference#estimatesmartfee). The fee estimation call can take different p

[2020-05-03 13:19] eigentsmis commented on #27
100% agree with this proposal.

Furthermore, I think it would be a great idea to allow offer makers to set their own custom fee when creating an offer. It could of course offer a hardcoded min limit (just like the 2 sat/byte min limit when withdrawing funds from the bisq wallet). On the other end, for the offer taker, there should be a way (warning popup maybe) of letting them know something like:

[2020-05-03 13:33] ifarnung commented on #27
@eigentsmis I agree with your second idea as I would like to set my own mining fees, but I would put that on the back burner until a better estimator is found for the majority of trades.

[2020-05-03 13:33] cbeams commented on #27
Bisq nodes are connected to one or more Bitcoin Core nodes via the Bitcoin p2p protocol. They have no access to these nodes' RPC interfaces, and `estimatesmartfee` is an RPC. It would be possible to give Bisq access to one's own personal Bitcoin Core node's RPC API, but it would not be a general, works-out-of-the-box solution for all Bisq users.

[2020-05-03 23:43] cd2357 commented on #27
Thanks for the explanation @cbeams

Until a better solution for the fee estimation is found, I prepared a workaround (which was actually already requested a few times) that allows users to manually override the fee estimation with a custom fee (https://github.com/bisq-network/bisq/pull/4231).

Initial tests look promising (custom fee can be set to anything between 2 and 5000 sats/byte), but I may

[2020-05-04 08:13] cbeams commented on #27
The current situation is pretty extreme, I agree. At time of writing, `estimatesmartfee` is recommending fee rates between 4 and 6 sats/byte:

[code]

while earn.com is reporting 110 sats/byte as the "fastest and cheapest" rate:

<img width="808" alt="image" src="https://user-images.githubusercontent.com/301810/80946360-29214300-8dee-11ea-9491-a914003efd95.png">

Based on that value, Bisq is curre

[2020-05-04 11:48] wiz commented on #27
@softsimon is the author of this algorithm so I'll ask him to respond as to why it's better than using the one in core, he is the best person to explain it

[2020-05-04 14:09] softsimon commented on #27
I am not quite sure how estimatesmartfee operates, but mempool.space uses a fully mempool based fee estimation while most traditional estimators are based on probability.
I personally and many people have reached out and told me they mostly get lower fees by checking mempool space for the next block fee. The mempool based estimation is very dynamic and updates as new blocks and transactions come i

[2020-05-04 18:53] wiz commented on #27
Replacing earn.com with another TTP / CPOF is not an acceptable solution IMO. If we wanted to do that we could simply query the mempool.space API at https://mempool.space/api/v1/fees/recommended which is the same as https://bitcoinfees.earn.com/api/v1/fees/recommended but this would just make everyone trust my node, which is why I'm proposing that all pricenodes run their own open-source backends

[2020-05-04 20:41] m52go opened #32 "Make compensation requests programattically parsable"
## Description

Currently, in order to determine how funds were allocated in a particular cycle, compensation requests must be manually analyzed and aggregated. This is time-consuming and error-prone.

This mini-project seeks to establish and implement a new structure for compensation requests that can be parsed by a script.

## Rationale

The [project reorganization implemented in Cycle 10](https

[2020-05-05 04:11] ghost commented on #32
I'd like to work on this!

[*First edit was an exploration into a yaml formatted compensation request.  Unfortunately yaml is extremely sensitive to whitespace indenting and therefore considered troublesome for use in user-generated compensation requests.*]

After discussing with @m52go here is a second attempt at understanding how a parsable compensation request might look, using markdown tables.

[2020-05-05 07:56] softsimon commented on #27
https://bitcoinfees.earn.com/api/v1/fees/recommended
{"fastestFee":110,"halfHourFee":108,"hourFee":94}

https://mempool.space/api/v1/fees/recommended
{"fastestFee":1,"halfHourFee":1,"hourFee":1}

So. The mempool is almost empty, not even a half block full in queue, yet earn.com recommends 110 to get into the next block. 1 is enough the next 10 minutes to get into the next block if you actually jus

[2020-05-05 11:23] cd2357 commented on #27
Fee estimation has been a known issue since 2017: https://github.com/bisq-network/bisq/issues/1077

And its the [3rd most commented issue in Bisq](https://github.com/bisq-network/bisq/issues?q=is%3Aissue+is%3Aopen+sort%3Acomments-desc), ever. So there is lots of interest from users.

Looks straightforward enough to fix + would directly improve every Bisq trade in every market, for both sellers and

[2020-05-05 13:42] ericrpatton commented on #27
Would it help if a dedicated funding mechanism was set up specifically for resolving this issue? I would be more than willing to kick in some funds toward it.

[2020-05-05 14:49] cbeams commented on #27
I'm working on a PR now to switch to the mempool.space API as a stopgap measure.

[2020-05-05 15:04] cd2357 commented on #27
You read my mind :)

I went ahead and already prepared a PR in the meantime: https://github.com/bisq-network/bisq/pull/4235

Please have a look, it might be good enough and you might not need to do any extra work.

[2020-05-05 15:05] cbeams commented on #27
Yep, reviewing it now, per https://github.com/bisq-network/bisq/pull/4235#issuecomment-624109739.

[2020-05-06 06:48] cbeams commented on #27
@wiz, I see that you created https://github.com/bisq-network/proposals/issues/219 to establish a new Mempool API Operator role, but before we go ahead with that, I'd like to further vet this proposal.

First, I want to address the risk of querying N fee estimation services vs 1. Yes, this is good for decentralization, but it also introduces the risk of getting divergent fee estimates from differen

[2020-05-06 07:41] freimair opened #33 "Establish Security Team"
## Description

"In the wake of the Apr 7th security incident, it's clear that we need to take our security practices to the next level. " ([cbeams](https://github.com/bisq-network/admin/issues/75))

The purpose of this project is to create and follow a roadmap to establish a security team in terms of management structure, its duties, authority and responsibilities.

## Rationale

I propose and dr

[2020-05-06 16:58] wiz commented on #27
You're right, and this is actually the reason why we need to separate pricenodes from mempool nodes - all pricenodes should query all mempool nodes, and average the returned values. The more mempool nodes we have, the more they will average out in the event one is off for some reason and converge on consensus.

For example, take the following script:
[code]

It currently outputs the following sugg

[2020-05-07 08:08] cbeams commented on #32
Glad to hear your're interested @jmacxx. What you've posted above is similar to what I had in mind. A couple notes:

1. I think it's important we have a 'front matter' section before the table where the contributor can self-report the total USD expected. The parser will validate that the totals actually add up to that, and will act as a check on both the contributor and the parser adding things up

[2020-05-09 03:27] ghost commented on #32
Regarding the bot commenting on CRs with issuance numbers broken down by team, I did experiment with that in https://github.com/jmacxx/compensation-bot/issues/2 where you can see the bot making issuance comments.  @m52go reminded me that such issuance comments are only to be made after the cycle is complete.

Alerting users of mistakes -> am I correct in understanding the only way to do this is to

[2020-05-12 17:03] ghost commented on #32
Updated the linting tool to the latest 5 column format received from @cbeams & @m52go.
See example @ https://github.com/jmacxx/compensation-bot/issues/5

![image](https://user-images.githubusercontent.com/47253594/81723512-8ea5ad00-9448-11ea-9890-55dc3f35b734.png)

[2020-05-15 13:16] m52go commented on #32
@cbeams we might have something worth testing. @jmacxx has created bots that evaluate compensation requests that follow [this template](https://gist.githubusercontent.com/m52go/1a585470aff9decb1016cbb4f59164e2/raw/09c421cd71f954ac073a22cd0d091f2549e62a77/proposed-cr-template.md).

Please check to see if it looks acceptable to you.

It should largely conform to the ideas you and I discussed earlier

[2020-05-15 19:34] oscarguindzberg opened #34 "Design plan for SegWit support"
## Description

Design a plan for migrating to bitcoinj 0.15 and using segwit in bisq. Implementation is not part of this project.

## Rationale

Benefits of using segwit:
- Users could withdraw btc from their bisq wallet to an external segwit (bech32) address.
- Pay less fees in btc transactions when segwit is used.
- Eliminate a transaction malleability exploit in the trade protocol which can ca

[2020-05-17 09:53] dmos62 commented on #34
Welcome back, @oscarguindzberg! I'm in early stages of a Bisq-side BitcoinJ refactor (https://github.com/bisq-network/projects/issues/30), with the goal of making maintenance easier for Bisq-side devs and the BitcoinJ maintainer. Currently, I'm finishing up a concrete-ish sketch of what I have in mind and should post it soon enough.

I would like to bounce some ideas off you and see how to make th

[2020-05-17 18:26] dmos62 commented on #30
# Concrete plan

Note: below text is written in a tree-like fashion, which helps me structure my writing and navigate the text. Hopefully it doesn't look too outlandish.

- Below algorithm describes a refactoring of BitcoinJ usage in Bisq
  - the goal of the refactoring is to
    - generally speaking, improve maintenance of Bisq's Bitcoin network code
    - more specifically, lay the foundation fo

[2020-05-17 19:03] ghubstan commented on #30
@dmos62 , Just want to express some enthusiasm for this project... Really, really big thumbs up from me.

The newly forming gRPC/Core API is going to help in terms of quick dev/test iterations -- faster than re-starting the UI after small changes.  It's a little too early today, and the priority for the API is to ship the simplest reference impl asap, but even that will help speed up functional te

[2020-05-18 10:37] cbeams commented on #34
@sqrrm (acting dev team lead) and I met and discussed this project and approved it. I've updated the labels to reflect, and I've added this issue to the Master Projects Board as `In Progress`.

@oscarguindzberg, let us know if you need anything along the way. Thanks.

[2020-05-18 10:58] cbeams commented on #30
@dmos62, what do you think about putting together an initial PR that demonstrates a single such refactoring that you think is demonstrative of the value that can be provided? I'm generally for this effort, but I'd like to have a look at a working example before signing off on a larger scale effort. My main concern here is that I'm not sure the "fully transparent wrap" approach you detail above wil

[2020-05-18 11:27] dmos62 commented on #30
@cbeams I agree a PR example is a good idea.

The 1:1 wrap part is just to get the foundation for where to move BitcoinJ-specific logic. I.e. the refactoring happens on top of that. You'd move the logic in one set of commits (like in the sketch) and then you'd most likely simplify it in another set of commits (not in the sketch).

At first I was thinking of calling it `btc.client`, since it would

[2020-05-18 16:05] cbeams commented on #32
I've only just taken a brief look at the template. Looks pretty good; I'm afraid it might end up being confusing for folks, but having real world examples out there should go a long way to making it clear.

I just submitted my compensation request, and unfortunately didn't get it together in this format. While I'm away for the next couple weeks, I'd say just keep going. Sorry I didn't have more ti

[2020-05-18 22:24] sqrrm commented on #30
I like the idea of starting by just doing a transparent wrap and continue incrementally from there. One of the biggest issues will likely be keeping refactoring PRs small enough that they are easy enough to review and merge. I think the suggested route sounds good, but a sample PR will make it even clearer.

[2020-05-19 18:17] oscarguindzberg commented on #34
@cbeams Thanks, I don't have any questions so far. @sqrrm and I had a conversation a few days ago, he explained me the basics of the trade protocol.

@dmos62 I will contact you on keybase probably next week.

[2020-05-23 22:56] oscarguindzberg commented on #30
- I think this proposal is independent of https://github.com/bisq-network/proposals/issues/226. They don't compete with each other because they attack different problems.
- If both proposals are accepted I suggest not to code both projects in parallel because that would lead to merging hell. They could be implemented one after the other. If both proposals are accepted I suggest merging https://git

[2020-05-25 09:06] dmos62 commented on #30
@oscarguindzberg I think there's potential for collaboration and see these projects working in complement to each other. More specifically, I can see this project facilitating the more interesting Bisq-side changes required for adopting SegWit and BitcoinJ 0.15.x in general.

Paving the way for an alternative library is more of a nice to have at this point. My priority with this project at this ti

[2020-05-25 13:25] #27 closed

[2020-06-08 08:24] cbeams commented on #8
Per https://github.com/orgs/bisq-network/teams/dao/discussions/13, I've just unassigned myself from owning this project, marked it as `is:stalled` and put it back into the `Backlog` column of the Master Projects Board.

Properly completing this project should probably be owned by the future Support Team Lead (bisq-network/roles#102)

[2020-06-08 08:36] cbeams commented on #4
Closing this project as delivered. This process has been in place for several months now and appears to be working smoothly. See the https://bisq.wiki/Support_Agent article for details.

[2020-06-08 08:36] #4 closed

[2020-06-08 08:43] cbeams commented on #5
Closing as aborted. Per https://github.com/orgs/bisq-network/teams/dao/discussions/13, I'll be stepping down from the role of Support Team Lead (bisq-network/roles#102), and rather than leave this open or try to hand it off to someone else (e.g. the new team lead), it's probably better to call the shot that this has, in the end, not been important enough to get done, and to just drop it. We are un

[2020-06-08 08:43] #5 closed

[2020-06-10 07:13] wiz opened #35 "Remove the need for Bisq to trust Bitcoin Average by querying exchange APIs directly and calculating our own weighted average for fiat and altcoin prices"
Approved in https://github.com/bisq-network/proposals/issues/163 and fixes https://github.com/bisq-network/bisq/issues/1074

<img width="600" alt="Screen Shot 2020-08-10 at 1 32 14" src="https://user-images.githubusercontent.com/232186/89737564-b8ed2200-daac-11ea-9821-54d695383d44.png">

## Description
This project will remove the need for Bisq network to trust BitcoinAverage as a data oracle and

[2020-06-10 09:20] sqrrm commented on #35
I like this idea in principle although I'm not familiar with the different feeds and how much work it would be to use all the different data feeds. It is certainly a weakness to rely on BitcoinAverage for all our market data.

I do see a risk in inconsistent price feeds though using an aggregate of feeds from different exchanges calculated at each node. We have seen people abusing the tolerance ma

[2020-06-10 12:49] wiz commented on #35
Since @cd2357 worked on the Pricenode PR that implemented https://github.com/bisq-network/projects/issues/27, I've asked him to work on the PR for this project as well. I understand he already has a WIP that enables Pricenodes to directly query the 10+ centralized exchange APIs directly without adding any jar deps to Bisq. Since the jar dep library that Bisq already uses to query Exchange APIs has

[2020-06-10 13:03] sqrrm commented on #35
The issue I'm talking about is for buyer and seller to agree on price. We have a very narrow allowance to avoid someone tries to game it. If we have multiple sources it might not be possible to have such a narrow spread, or it won't be possible to take offers.

I'm not sure how a phase-in would work considering the buyer and seller has to come to the same price, or they won't be able to trade. If

[2020-06-10 14:31] cd2357 commented on #35
My understanding is that
* the pricenodes
  * have providers which query different exchanges or other endpoints (like BitcoinAverage), that return the latest exchange rates for certain currency pairs
  * schedule such providers to run at different intervals, based on API rate limits
  * expose an API to the Bisq clients, which present the current / latest known exchange rates
* the Bisq clients

[2020-06-10 16:09] wiz commented on #35
As the ops team lead, I am assigning this project to @cd2357 and I have allocated budget for his compensation for work under this project from the ops team budget.

[2020-06-11 12:16] dmos62 commented on #30
Status update:

While I believe that this project is very valuable in the medium to long term, and I very much enjoy working on it, I'm putting it on hold, because I feel there are short-term Bisq responsibilities that I should move my attention to. Follow a few notes I'd like to share.

This project is relatively slow to implement. To illustrate, I've spent 2.5 weeks refactoring logic surrounding

[2020-06-11 12:40] cbeams commented on #9
Closing as aborted. In practice, we've done quite a bit of cleaning up of roles and bonding over the last several months, but it didn't follow the process and tasks laid out here. We can still do a  better with managing roles, but for the most part things are working, and most role owners are up to date with their bonds. It's probably better at this point to simply close this project down and call

[2020-06-11 12:40] #9 closed

[2020-06-11 12:47] cbeams commented on #3
Closing as delivered. This was actually complete quite some time ago with the rollout of the Q1 Update changes. I think I had some finishing touches in mind, and that's why I left this open, but there's no reason not to close it now.

[2020-06-11 12:47] #3 closed

[2020-06-12 11:21] cbeams commented on #10
@ripcurlx, I've marked this as stalled and returned it to the backlog to reflect that no activity / progress has been reported here for quite a while. I know you mentioned you're working on this in your last compensation requests; could you give a general update here? Feel free to remove the stalled label and put it back in progress if appropriate.

[2020-06-12 12:20] cbeams commented on #1
I've just updated the description to reflect current project status; bisq-network/proposals#182 has just been accepted, meaning that this process is "officially" adopted now. The dev calls proposed at bisq-network/proposals#231 can be used to implement the (bi-)weekly project reviews and really drive the project management process.

[2020-06-12 12:26] cbeams commented on #8
Per agreement on yesterday's team leads call (bisq-network/teamleads#2), @m52go will own this project going forward. Indeed, he has been effectively driving it anyway, and much progress has been made. I've removed the stalled labeled, and will let you, @m52go, do as you see fit with the remaining issues on the associated project board. Please just update / rework things as it makes sense to you to

[2020-06-12 12:30] cbeams commented on #8
Note we can also mention the rollout on the Q2 Update call (bisq-network/admin#81).

[2020-06-12 12:33] cbeams commented on #12
@ripcurlx, I've assigned this to you, as I believe you're the best owner of the project. We may want to close this entirely for now as `was:deferred` just to get it off the board if we're not going to work on it any time soon, but I'll let you make that call.

[2020-06-12 12:36] cbeams commented on #13
@ripcurlx, can you provide an update on this project?

[2020-06-12 15:16] cbeams commented on #2
I'll cover these changes in the Q2 2020 Update call (bisq-network/admin#81)

[2020-06-12 15:17] cbeams commented on #2
@m52go is owning this project now, and I've assigned him accordingly.

[2020-06-16 09:10] cbeams commented on #30
Thanks for the update, @dmos62. I'm closing this as `was:deferred` as that seems most fitting ([definition](https://bisq.wiki/Project_management#Closing_as_deferred)). Let me know if that doesn't make sense to you.

[2020-06-16 09:10] #30 closed

[2020-06-17 10:39] cbeams commented on #11
I've reassigned this project to @ghubstan, who has agreed to take the lead on it.

[2020-06-17 11:06] cbeams commented on #23
@freimair, could you give a status update about this project?

[2020-06-17 11:55] cbeams commented on #1
Closing as delivered, with a couple caveats:

- The project review process is not yet locked in. As mentioned above, we're planning to use the new dev calls to implement this, but discussions are still underway as to exactly how this will go
- I've ~~crossed out~~ a couple tasks regarding folding in feedback to the process after two cycles of having it in the wild. This is because we've already ha

[2020-06-17 11:55] #1 closed

[2020-06-17 14:59] m52go commented on #32
With the new compensation request issue template now merged, all contributors should now use the new format that came about as a result of this project.

Here I'll run through each of the objectives that has been completed so far.

The new format, in a nutshell, simplifies all line-items for **contributions and roles** into a single table.
- There is no longer a separate section for roles performe

[2020-06-17 15:54] m52go commented on #32
Next step is to follow usage and performance for the remainder of this cycle (Cycle 14) to ensure the bot performs as expected.

Once it goes well, it probably makes sense to discuss devops / ownership of the bot.

Then we'll require the new format in Cycle 15 so that all requests can be parsed, so that results are actually useful (only a portion of Cycle 14 requests will be in the new format, so

[2020-06-18 09:17] freimair commented on #23
Everything is done for Milestone 2 except the "wait and see how it goes over time" part which will be concluded by the upcoming report.

Overall, it seems that v3 onion services did the project no harm whatsoever. I have been monitoring support and issues and there is not a single hint that something does not work - quite the contrary, it feels like support issues regarding tor connection issues a

[2020-06-18 09:21] freimair commented on #25
the implementation is currently being prepared to be tested in the production network. @sqrrm will upgrade his explorer-seednode to run the new code (that would be v1.3.5 + the changes of this project) so that a few devs can use it productively and see if anything bad shows up. The plan is to do so for one release cycle. If nothing bad shows up, we will proceed with the rather complex upgrade proc

[2020-06-18 09:25] freimair commented on #33
- [DAO proposal](https://github.com/bisq-network/proposals/issues/225) has been put up for voting in cycle 13 and has been accepted.

please see the details on deliverables there.

[2020-06-18 09:27] #33 closed

[2020-06-18 11:18] cbeams commented on #33
Nit: When closing project (and proposal) issues please use the form "Closing as [status]'. In this case, "Closing as delivered" would be appropriate (followed by any additional notes). Adhering to this convention makes it easy to see at a glance why the issue was closed from the context of email notifications, obviating the need in many cases to click through to the web interface.

Thanks for addi

[2020-06-19 09:37] m52go commented on #8
Just updated the front page, and most pages are edited.

All pages linked on the new getting-started page are edited. A small handful of others remain, but they're not critical for rolling out the wiki (in my opinion)...and of course it's a wiki, so it will never be 100% perfect.

I'd say it's ready to go. Requesting feedback on Keybase now.

[2020-06-19 15:08] cbeams commented on #18
Per the Q2 2020 Update call at bisq-network/admin#81, I'm closing this goal as largely accomplished. It doesn't mean support doesn't remain of high importance, just that it's in a place of relative workabillity right now and further improvement doesn't need to be a project-wide top-line goal.

[2020-06-19 15:08] #18 closed

[2020-06-19 15:12] cbeams opened #36 "Improve Security"

[2020-06-22 13:57] wiz opened #37 "Add support for BSQ into the mempool.space explorer, replace our current BSQ Explorers with self-hosted Mempool Explorers"
## Description
Replace the very old BSQ Explorer codebase by adding support for BSQ into [Mempool.Space](https://mempool.space), and replace our current BSQ Explorers with Mempool Nodes so Bisq gains an integrated BTC and BSQ Explorer with Mempool Fee Estimation API support.

## Rationale
* Bisq's current BSQ Explorer sucks. Mempool Explorer is awesome. Having a modern explorer website for $BSQ wi

[2020-06-22 15:45] Emzy commented on #37
Concept ACK

To replace the Bitcoin Explorer part it needs a Bitcoind + https://github.com/Blockstream/electrs running in the back-end. This needs a beefy server with > 1TB SSD.
Would that also be needed for the BSQ Explorer part?

[2020-06-22 16:18] wiz commented on #37
Yes, but by combining Bitcoin Node ($50) + BSQ Explorer ($100) + Mempool Node ($50) you get a total budget of $200 per month to run this beefy server which does everything all in one. It makes sense.

[2020-06-22 18:49] m52go commented on #8
Announced on the [Q2 2020 call](https://www.youtube.com/watch?v=k_QjrhU3hrc), and linked on the [new getting-started page](https://bisq.network/getting-started/).

Closing as complete.

[2020-06-22 18:49] #8 closed

[2020-06-23 11:03] m52go commented on #37
I assume this isn't a near-term / high-priority thing, but it sounds great.

[2020-06-23 19:17] softsimon commented on #37
@wiz sent me a Bisq dao JSON dump and I have made some quick mockups to give an idea of how I would implement this.

Basically Bisq will be another optional module visible in the in mempool selection just like Liquid or Testnet currently. So heading to mempool.space/bisq will default to the familiar Latest bisq-transactions. Viewing individual transactions will have the same features and functiona

[2020-06-23 20:05] wiz commented on #37
Thanks Simon, I’ve assigned you to this project. Just to give you an idea how bad the current BSQ Explorers are, right now 2 out of 6 of them are stuck again today, despite our repeated attempts to fix them over the past few months. I’m really looking forward to replace that old code!

🔍 BSQ Explorers most recent TX block height as of Tue Jun 23 20:00:01 UTC 2020
[code]

[2020-06-23 20:06] wiz commented on #37
Thanks Simon, I’ve assigned you to this project. Just to give you an idea how bad the current BSQ Explorers are, right now 2 out of 6 of them are stuck again today, despite our repeated attempts to fix them over the past few months. I’m really looking forward to replace that old code!

🔍 BSQ Explorers most recent TX block height as of Tue Jun 23 19:55:01 UTC 2020
[code]

[2020-06-25 14:42] cbeams commented on #31
Assigned @ripcurlx, as he has agreed to own this project going forward. Thanks, Christoph!

[2020-06-29 03:10] pedromvpg commented on #12
@ripcurlx @m52go @wiz
Is there a description of what the scope of the on boarding needs to do?

Is this instructional and mostly a passive experience, or are we trying to actually have an interactive experience where the user can actually set up passwords and test seed words?

[2020-07-14 17:17] wiz commented on #37
https://mempool.space/bisq has an early WIP available for beta testing

[2020-07-16 12:11] freimair commented on #23
# Closing report on milestone: "Ship it"

There have been no reports that would indicate something not working properly or causing issues with Tor onion services v3. Quite the contrary, it seems like connection issues have gone down. It even seems that people have upgraded to v3 on their own - at least that is one explanation of the number of v3 hosts in the Bisq P2P network has reached the neighb

[2020-07-18 14:36] wiz commented on #37
The new explorer seems stable, so I have begun redirecting https://bsq.ninja/ to https://mempool.space/bisq as follows:
[code]

[2020-07-19 11:36] wiz commented on #37
Everyone seems pretty happy so I just merged the PR: https://github.com/mempool/mempool/pull/92

[2020-07-19 11:39] #37 closed

[2020-07-23 12:10] m52go commented on #2
Update: once we can confirm the success of #32 with the current cycle's compensation requests, we can begin devising reporting (both internal and external) and an actual budgeting process. Although most people used the new compensation request format in the last cycle, this is the first cycle in which everyone used it, so it's a better test.

The current cycle will end in just a couple days.

[2020-07-23 12:44] m52go commented on #14
March is long-gone now. This initiative had some success, it was a big learning event for me, and it certainly served as a spark for other ideas and initiatives. New projects and initiatives will be created to carry on any loose ends here.

The most direct successor to this project is [here](https://github.com/bisq-network/growth/issues/196).

[2020-07-23 12:44] #14 closed

[2020-07-23 13:02] m52go opened #38 "Integrate advice throughout software to improve UX"
## Description

In the absence of a [truly-improved onboarding wizard](https://twitter.com/bisq_network/status/1230958568943292417), we can improve and add text throughout the software to make Bisq easier to use.

I think this initiative is different from #12 because it has more to do with in-the-moment usage of the software, which is distinct from onboarding (thoughts welcome if I'm wrong about t

[2020-07-23 14:15] ripcurlx commented on #12
@pedromvpg Sorry for my late reply! I think this should be an interactive experience where the user in the end of the onboarding flow is ready to trade.

[2020-07-27 09:32] ripcurlx commented on #23
Regarding the next steps for this project. I would only add the option to update to a new v3 address without taking the reputation over. I don't think it is worth the hassle to do this.

[2020-07-27 09:38] ripcurlx commented on #25
Is there any update on this?

[2020-07-29 13:07] ripcurlx commented on #11
@ghubstan It would be great if you could update this project, so the project and the current state of it is easier to follow. Thanks!

[2020-07-29 13:34] ripcurlx commented on #31
I'll post in this issue every cycle an update on the current victim repayment state.

### Cycle 15 report

![Bildschirmfoto 2020-07-29 um 15 33 00](https://user-images.githubusercontent.com/170962/88806607-ee426780-d1b0-11ea-8b7b-aa6f53d30158.png)

[2020-07-29 13:58] ripcurlx opened #39 "Reduce or eliminate arbitration cases"
## Description
Reduce or in best case eliminate arbitrator cases (refund agent cases).

## Rationale
The v2 of the Bisq trade protocol was designed to handle a handful of arbitrator cases each month. Right now it is more like 1+ cases per day which is not sustainable and creates an unnecessary load on arbitrators.

This resulted in multiple proposals:
- [Concerning the refund agent system](https:/

[2020-07-29 15:24] ghubstan commented on #11
I will add details soon.

[2020-07-30 03:59] m52go commented on #32
It's becoming clear that reporting will be more of a project of its own, so I will make a new issue detailing reporting goals after discussing specifics with jmacxx and wiz.

For this particular project, the new compensation request format, linting, and parsing implemented by @jmacxx seems to work well! Reporting issuance as GitHub comments didn't work as well as initially expected, so we need to

[2020-07-30 04:02] m52go commented on #38
In surveying the software for this project, I found it useful to update strings. Many strings have awkward wording that can result in confusion, while others are simply out-of-date, so a thorough update seems worthwhile.

https://github.com/m52go/bisq/tree/refresh-strings-1
https://github.com/m52go/bisq/tree/refresh-strings-2

[2020-07-30 13:32] ripcurlx opened #40 "Improve reporting"

[2020-08-01 15:37] ghubstan commented on #11
@ripcurlx Just a ping to let you know this project issue has been updated.

[2020-08-03 10:11] cbeams commented on #11
@ghubstan wrote:

I thought updating the original post didn't seem right, but neither did adding a comment. Now I know.  Thanks, @cbeams .

[2020-08-03 13:16] pingiun commented on #14
I have done this! It's available at https:/t.me/bisqbot

[2020-08-06 05:38] chimp1984 commented on #29
Any DB solution will add a huge dependency tree to bisq. So that is definitely a security risk. We should look which DB solutions are used in other Bitcoin projects (like Bitcoin Core, LN,....) - though they might have very different requirements.

[2020-08-06 12:40] ghost commented on #29
It is being claimed that using a database will fix 6 critical bugs to do with high memory usage/exhaustion.  From the little experimentation I and others have done it seems that JavaFX is the culprit when it comes to the memory use/leak issues.  I don't see how using a database will solve those issues.

[2020-08-06 12:48] freimair commented on #29
That is not entirely correct. The claim is "will address the following issues in one way or the other". It will not fix these issues once and for all, however, it will contribute to lower resource requirements.

And yes, JavaFX is a major player when it comes to memory - needs fixing as well.

@chimp1984 agreed. However, if we do not use Hibernate or alike, we might just keep the dependencies to a

[2020-08-06 13:04] wiz commented on #29
I agree that we should avoid new deps for the security risk. Bitcoin uses BDB and it would be perfect for us too if there is a Java equivalent.

[2020-08-06 15:47] chimp1984 commented on #29
Migrating to any DB solution will be a pretty large task. I recommend to take the more low hanging fruits first, specially as those might remove many of the main reasons for the need of a DB.
E.g. We don't need to keep 15 MB of trade statistics (goes back to 4 years old data). Loading historical data only on demand would reduce that issue by 95%.

DB will not solve magically all problems. If you d

[2020-08-06 15:52] chimp1984 commented on #29
Just looked at trade persistence: it is persisted with a 50 ms delay. Does not sound like the issue but as the write is happing in a new thread the real delay can be significantly longer if high CPU load happens.

[2020-08-07 16:59] wiz commented on #35
Now that [@cd2357's PR](https://github.com/bisq-network/bisq/pull/4315) seems to be working well, we can proceed to have the pricenode operators setup new instances for testing. Can all the @bisq-network/pricenode-operators please make a fresh Ubuntu 20.04 VM and download the [pricenode installation script from @cd2357's PR branch](https://raw.githubusercontent.com/cd2357/bisq/xchange-integration-

[2020-08-07 17:40] wiz commented on #23
Well, now that V2 is officially deprecated, migrating to V3 is required and we will need to force all users to migrate to V3 onions at some point in the future. Some kind of migration plan like:
* After X date, disable taking offers using V2 onions
* After Y date, disable making offers and all active offers using V2 onions
* After Z date, disable V2 onion entirely and force users to upgrade

[2020-08-07 19:15] wiz opened #41 "Bisq Dashboard: Re-implement the Bisq Markets API, create a new realtime Bisq Markets website with DAO reporting, widgets, etc. and integrate it into the main Bisq Website"
## Description
Following from the success of https://github.com/bisq-network/projects/issues/37, this project expands the Bisq Explorer backend to serve the Markets API endpoints, and implements a new Bisq Market website frontend to show market data and vital non-technical performance metrics for the Bisq network on 1 screen through a combination of graphs, tables, and text so that users and BSQ s

[2020-08-08 13:03] m52go commented on #41
One approach for designing the page on this new site for DAO health:

![Screenshot from 2020-08-08 09-05-06](https://user-images.githubusercontent.com/735155/89711142-f13f1400-d977-11ea-89db-7d9bd5e24f87.png)

See [more details and comments here](https://docs.google.com/presentation/d/1ez87ZNUm5cWZn7FmfiPiqrMiHYyELI8LXu9rgzQ4lQ8/edit?usp=sharing). As mentioned above, the goal is for some of these

[2020-08-08 14:40] alexej996 commented on #35
I just installed the service and it seems to be running. The onion is **ro7nv73awqs3ga2qtqeqawrjpbxwarsazznszvr6whv7tes5ehffopid.onion**

[2020-08-08 15:26] mrosseel commented on #35
aprcndeiwdrkbf4fq7iozxbd27dl72oeo76n7zmjwdi4z34agdrnheyd.onion

[2020-08-08 20:45] wiz commented on #41
We should probably also display the current Bisq Price Index numbers from the new Pricenodes https://bisq.wiki/Bisq_Price_Indices - we need a page like BitMEX has for their indices https://www.bitmex.com/app/indices

[2020-08-08 21:34] wiz commented on #35
Okay, now that we have 5 pricenodes online the staging environment is ready for full testing. The branch I'll be using to test is https://github.com/bisq-network/bisq/pull/4403

[2020-08-09 06:21] devinbileck commented on #35
My node is now running with the following onion address:
devinpndvdwll4wiqcyq5e7itezmarg7rzicrvf6brzkwxdm374kmmyd.onion

[2020-08-09 16:41] wiz commented on #35
<img width="400" alt="Screen Shot 2020-08-10 at 1 32 14" src="https://user-images.githubusercontent.com/232186/89737581-ecc84780-daac-11ea-862d-6c92b666b726.png">

@sqrrm @cbeams Okay I think we are ready for review. Please see the following PRs:
https://github.com/bisq-network/bisq/pull/4315
https://github.com/bisq-network/bisq/pull/4403
https://github.com/bisq-network/bisq/pull/4406

[2020-08-09 17:01] wiz commented on #35
I've been doing a lot of testing and found no issues so far. As for the migration to repoint old V2 onions to the new pricenodes, I would say after the above 3 PRs are merged and there are no issues found, once v1.3.8 gets pre-released the pricenode operators should all coordinate a time for everyone to switch at the same time. When there are no issues from the migration, we can safely release v1.

[2020-08-09 17:06] Emzy commented on #35
I would like to change my HS to:
```emzypricpidesmyqg2hc6dkwitqzaxrqnpkdg3ae2wef5znncu2ambqd```

[2020-08-09 17:07] wiz commented on #35
lol ok. will amend PR.

[2020-08-09 17:24] wiz commented on #35
@devinbileck are you planning to do full release testing for v1.3.8 ? obviously we will want to emphasize anything that uses prices

[2020-08-09 21:23] wiz commented on #35
@m52go Since the new Bisq Price Indices are different from Bitcoin Average prices, in the case of BTC/USD about $100 or 1%, we should probably give some advance warning to users about the migration and @ripcurlx maybe an in-app broadcast message reminding users of the change a few days/hours/minutes in advance. What do you think?

💰Bisq Pricenode Data Check on Sun Aug  9 21:05:01 UTC 2020
[code]

[2020-08-10 10:36] softsimon commented on #41
After some discussions the way I will implement this is similar to as stated in the General tasks list above:
* Extend the current Mempool and Bisq backend with the parsing and serving of the markets api data. So that we have a single nodejs backend serving Bitcoin, Bisq DAO and Markets API data inluding live push data from a WebSocket
* Create a new standalone front end application in Angular usi

[2020-08-11 03:30] thehapax commented on #41
Hi. I can help with the charts, statistics and any other supporting development work.

[2020-08-11 16:11] softsimon commented on #41
I just made a rough mockup. How about something like this for landing page for the new bisq.markets site?

<img width="1293" alt="bisq-markets-1" src="https://user-images.githubusercontent.com/8561090/89920952-481e4500-dc27-11ea-9259-a2e9aabba746.png">

[2020-08-11 18:47] wiz commented on #41
@softsimon looks cool, on that page you can have the prices update in realtime from the [Bisq Price Indices](https://bisq.wiki/Bisq_Price_Indices) - I spoke with @m52go and we're going to assign this project to you, so please get started :grin:

[2020-08-12 23:33] chimp1984 commented on #31
@ripcurlx When did it start? The numbers seem pretty low to me if it was a full cycle/month. Which tool are you using? Is it available?

[2020-08-20 09:13] wiz commented on #35
Since the Bisq Pricenodes were all migrated to the new code, and Bisq is no longer using Bitcoin Average as a price oracle, calculating our own weighted averages (documented at https://bisq.wiki/Bisq_Price_Indices), I am closing this project as `was:delivered` - example of pricenode monitoring logs follow:

💰Bisq Pricenode Price Check on Thu Aug 20 09:05:02 UTC 2020
BTC/USD:
[code]
BTC/EUR:
[code]

[2020-08-20 09:13] #35 closed

[2020-08-24 11:18] cbeams commented on #35
It appears this change has rolled out quite smoothly. Congrats, all!

[2020-08-25 16:38] ghubstan commented on #11
A new `apitest` subproject was merged into the main branch with [PR 4366](https://github.com/bisq-network/bisq/pull/4366).

Some `apitest` finishing work has also been merged, or awaiting reviews:
https://github.com/bisq-network/bisq/pull/4427 (merged)
https://github.com/bisq-network/bisq/pull/4428 (merged)

https://github.com/bisq-network/bisq/pull/4429 (awaiting review)
https://github.com/bisq-n

[2020-08-26 19:09] oscarguindzberg opened #42 "Segwit support implementation"
## Description

Implement segwit in bisq according the plan drafted in https://github.com/bisq-network/proposals/issues/226

## Rationale

Bisq users keep asking for this feature. Segwit has been out for several years. A bitcoinj version with segwit support was released in March 2019.

As described in https://github.com/bisq-network/proposals/issues/226, the goals are :
- Reduce btc miner fees bot

[2020-08-27 08:26] ripcurlx commented on #31
## Cycle 16 report

<img width="809" alt="Bildschirmfoto 2020-08-27 um 10 24 10" src="https://user-images.githubusercontent.com/170962/91416471-b716b300-e84f-11ea-8015-53b9bd453317.png">

[2020-08-27 08:27] ripcurlx commented on #31
The numbers where so low as there was an issue with the filter propagating in the network. After this was solved the amount of fees distributed increased as expected.

[2020-08-28 12:49] ripcurlx commented on #39
We shipped a deposit percentage suggestion based on volatility in v1.3.7. It seems to be helping, but it didn't reduce the refund agent cases to an acceptable level. So we need to continue with the improvements mentioned above and to find out the root cause of unresponsive sellers in the Monero market.

[2020-08-28 13:04] m52go commented on #32
This project is complete with the delivery of the compensation and reporting bots:
https://github.com/bisq-network/growth/tree/master/reporting/compensation-bot

The rest of the reporting initiative will be carried on here:
https://github.com/bisq-network/projects/issues/41

[2020-08-28 13:04] #32 closed

[2020-09-01 11:59] wiz commented on #42
@oscarguindzberg this project has been approved and assigned to you, with $45K budget allocated from the dev team approved by @ripcurlx

[2020-09-01 13:19] freimair commented on #29
@chimp1984 please keep in mind that not everyone has a powerful dev machine to use and trade on. The current storage solution reaches is limits now and our requirements grow faster as technology can keep up.

This project is a massive one, that I agree on. High risk and everything. However, it also addresses a lot of issue we see regularly nowadays. We should at least get started. One step at a ti

[2020-09-01 17:23] ghubstan commented on #11
`apitest` PRs merged this week:
https://github.com/bisq-network/bisq/pull/4429 (merged)
https://github.com/bisq-network/bisq/pull/4430 (merged)
https://github.com/bisq-network/bisq/pull/4431 (merged)
https://github.com/bisq-network/bisq/pull/4432 (merged)
https://github.com/bisq-network/bisq/pull/4433 (merged)

PRs submitted today:
https://github.com/bisq-network/bisq/pull/4461 (awaiting review)
h

[2020-09-03 16:03] Bayernatoor commented on #38
I agree with this. I did make changes to strings a few months back since some of the wording was confusing/grammatically incorrect. But I never did make a PR  for those changes.

Anyway correcting the text on the application could help improve user experience and make the platform more "professional" since typos, grammatical errors etc can be a turn off for users.

@m52go Did you want help on this

[2020-09-03 16:13] m52go commented on #38
Yes I started this and made a couple of PRs ready that I never submitted and then got diverted by other work. I would like to at least have strings improved and submit a preliminary list of suggested additions to developers in this cycle.

I could probably use help, yes, and your support insight might be especially helpful. Might be easier to coordinate this 1-1, maybe through chat or another call

[2020-09-03 20:40] MwithM commented on #38
I wasn't thinking on this project when I submitted this issue, but reacting to a user error. https://github.com/bisq-network/bisq/pull/4379
Anyway, I think it's worth to bring it here. Thanks to devs for addressing it so quickly.

I would also like to point this issue about security deposit display. I'm not sure what change should be performed, but something needs to be done since I don't know how

[2020-09-05 07:19] wiz opened #43 "Bisq Installer: Merge all the Bisq one-command installation scripts into a new unified CLI menu based Bisq Installer for any type of headless Bisq node with any number of optional components"
<img width="350" alt="Screen Shot 2020-09-05 at 16 10 46" src="https://user-images.githubusercontent.com/232186/92300049-c6ee6f80-ef92-11ea-90cc-cee54d60f41c.png"><img width="390" alt="Screen Shot 2020-09-05 at 16 13 32" src="https://user-images.githubusercontent.com/232186/92300050-c8b83300-ef92-11ea-92b1-dc979cbc7911.png">

## Description
Implement a new menu based CLI installer for all types of

[2020-09-07 10:03] freimair commented on #23
basically:
1. do we want to just move users to v3 once or
2. do we want to allow them to change their address at will?

both need similar preparations. in order to safely change the hidden service host users need to
- make sure they have no ongoing trades
- make sure they have no ongoing disputes
- (already fixed that a while ago https://github.com/bisq-network/bisq/pull/4021) make sure they have

[2020-09-08 15:08] freimair commented on #13
All the distributed deployments have some spurious issues every now and then. Need to get myself access to a live pricenode to figure out what is going on.

And I need some more budget. Depending on the issue, +550$ should do.

[2020-09-12 09:35] freimair commented on #13
found the error, at least it seems like it. There are no more gaps in the last 30+ days (except for the time where pricenode have been upgraded and the network size data feeds have not been enabled).

@mrosseel's new pricenode does not supply data still. so add a +75 or so to the final number of nodes for numbers after 2020-08-21.

![Screenshot from 2020-09-12 11-30-37](https://user-images.githubu

[2020-09-16 15:26] ripcurlx opened #44 "Update to LTS Java version"
## Description
We need to update our Java and JavaFX version to be able to fix critical memory and UX issues with the current Java(10)/JavaFX(11) version we are using. Also we need to move to a LTS java version to receive ongoing security updates.

## Rationale
After Oracle ripped out the javapackager (required to create binaries for macOS, Windows and Linux OSes), we got stuck with the last Java

[2020-09-22 15:29] ripcurlx commented on #31
## Cycle 17 report

![Bildschirmfoto 2020-09-22 um 17 28 27](https://user-images.githubusercontent.com/170962/93903603-24a3eb00-fcf9-11ea-823d-d9472b3d2428.png)

[2020-09-30 15:39] ripcurlx commented on #13
![Bildschirmfoto 2020-09-30 um 17 33 05](https://user-images.githubusercontent.com/170962/94707236-7e349700-0343-11eb-88be-6ac02a4892ed.png)

KPIs seem to be stable now. I'll use them for the next releases to check if we made progress. Until now because of missing data every now and then I wasn't able to use them for feature/version evaluation.

I did use the version update metric a lot which is g

[2020-10-18 03:30] chimp1984 opened #45 "Provide a reliable lightweight monitor with notifications"
## Description
A lightweight and stable monitor for seed nodes to detect if a seed node is not in the expected state. Instead of requesting the data itself (which is pretty heavy) we request an inventory list with the number of p2p data objects as well as other relevant data. We include also some performance and load specific data.
When a seed node is not in the expected state it sends an alert/no

[2020-10-18 03:34] chimp1984 commented on #45
Replaces https://github.com/bisq-network/bisq/issues/4665

[2020-10-18 03:55] ghost commented on #45
Rough estimate $500.

[2020-10-18 04:00] wiz commented on #45
As per the Bisq [Project management guidelines](https://bisq.wiki/Project_management), this project is approved for ops budget allocation and the project has been assigned to @jmacxx

[2020-10-20 13:32] #13 closed

[2020-10-20 13:38] freimair commented on #25
the project has been completed by https://github.com/bisq-network/bisq/pull/4586

[2020-10-20 13:38] #25 closed

[2020-10-25 20:00] ghost commented on #45
FYI this is what I am working on.  Please let me know if anything is wrong..

### For Wiz' alerting infrastructure:

1. Provide a JSON file that contains details only of CURRENT ACTIVE ALERTS.  If there are no alerts it should be empty.  Format should include timestamp, seednode id, field triggering the alert, value of field, rule name that triggered the alert.

### For use by a web client UI:

2.

[2020-10-26 00:34] chimp1984 commented on #45
@jmacxx
While trying to fine-tune http://46.101.179.224/ I saw that it is not trivial to avoid false positives.

One problem is that when for instance a new mediator gets published some nodes might get it earlier then other if the request event happends just around the publishing time. But we cannot lower the criteria as normally a diff of 1 is an alert case.

One option is to do repeated requests

[2020-10-26 01:55] chimp1984 commented on #45
After more thought about the problem I think we need a secondary data set as kind of overlay to interpret an alert/warning correctly. E.g. If we know the time of new blocks being publihsed we can filter out all the alerts/warnings which  happened around that event. For other data like number of offers its more difficult as we don't have a primary more reliable source then the seed nodes themselfes

[2020-11-03 16:03] cbeams commented on #31
Note that I asked @jmacxx to add a footer row with totals to the repayment tracking report. See bisq-network/support#528.

[2020-11-05 09:24] ripcurlx commented on #31
## Cycle 18 report
![Bildschirmfoto 2020-11-05 um 10 23 42](https://user-images.githubusercontent.com/170962/98222349-00226c00-1f51-11eb-84ff-27be3a511b16.png)

[2020-11-15 17:18] ghost commented on #45
Progress:

- [x] JSON feed of [active alerts](http://46.101.179.224:8082/alerts), & alerts file [documentation](https://github.com/jmacxx/WIP/blob/master/bisq-projects-45/spec-alerts.md).
- [ ] JSON feed of alert history
- [x] A user-friendly [app](http://46.101.179.224:8082/app).
- [x] Chimp's detailed [app](http://46.101.179.224:8080).
- [x] Keybase alerts.
- [x] Documented [setup procedure](htt

[2020-11-21 09:12] freimair commented on #13
here is the grafana config

[code]

[2021-01-03 17:52] chimp1984 opened #46 "Prepare roll out of API for January or February release"
## Description
Prepare roll out of API for January or February release

## Rationale
API seems to be pretty complete now, so lets prepare the last steps for deployment.

## Criteria for delivery
API usage is sufficiently documented and announced. Protection tools are in place.

## Measures of success
Users are using the API, no major problems.

## Risks
- Scripts could cause heavy load for network

[2021-01-03 18:24] m52go commented on #46
For documentation, I estimate 250-1000 USD depending on quantity and quality of the starting point.

Is this for the full, public rollout? Will there be some kind of intermediate pre-release phase before a big rollout? Asking mainly for messaging/communication purposes.

[2021-01-03 18:34] chimp1984 commented on #46
I think its more safe to make a soft roll out for at least one releaze cycle to not risk too much. So PR should be help back until we are sure that all works smoothly.

[2021-01-04 00:52] chimp1984 commented on #46
Started implementation at: https://github.com/bisq-network/bisq/pull/5053

[2021-01-04 01:25] pazza83 commented on #46
This sounds great. Happy to help with testing if I can. Where is the best place to get a background of what has been developed to date?

[2021-01-04 14:26] ghubstan commented on #46
@pazza83 Sorry, no api documentation yet, but the code explains a lot.
See `:cli` supbroject's `Method` class for a list of currently available CLI commands:
[code]
This won't work on Windows (not meant to).  It's meant for *nix only.  Seemed to work OK when I tried it on OSX some months ago.

To see (linux) CLI help, get latest master, and build with options needed for running api tests later:

[2021-01-04 14:45] ghubstan commented on #46
@chimp1984 I think api method level help would be useful, implemented in a server side `CoreHelpService` with one method:  `getHelp(String methodName)`.

It would return a String the CLI would print on stdout.

I was thinking the help would work as is on the CLI:  `./bisq-cli  --help` shows the CLI level help as it does now (the list of supported api methods.)  `./bisq-cli --password=blah --port=N

[2021-01-04 15:00] ghubstan commented on #46
@chimp1984  The [feature is implemented](https://github.com/bisq-network/bisq/pull/4966), using a configured `CallRateMeteringInterceptor` on a `GrpcOffersService`, for example, but has not been applied.  We discussed on 3-Jan in keybase, and you mentioned you will take a look at the related `:daemon` classes.

We just need to decide how many X calls per Y should be defined, where X = api method,

[2021-01-24 22:22] chimp1984 commented on #42
@cbeams @oscarguindzberg Can we close that issue as it is delivered?

[2021-01-25 06:52] cbeams commented on #42
Closing as delivered. I've reviewed the criteria for delivery and measures of success above, and all appear to have been satisfied. It's so great to have this support in place!

[2021-01-25 06:52] #42 closed

[2021-01-25 13:36] ghubstan commented on #46
Can you add the protection mechanism which are in place from the API side and which are planned but not implemented yet? E.g. protect against endless loops,...

@chimp1984, PR https://github.com/bisq-network/bisq/pull/5103 defines the rate meter constraints on all api methods.

[2021-01-25 13:41] ghubstan commented on #46
I intend to create an api overview doc this week, for @m52go.

Since this issue was posted, method level help has been merged into the main branch.

    Method Help Usage: bisq-cli [options] <method> --help

Examples:

    ./bisq-cli --password=xyz --port=9998 getbtcprice --help

    ./bisq-cli --password=xyz --port=9998 createoffer --help

[2021-01-25 13:46] ghubstan commented on #46
There are two example scripts in the main branch (`apitest/scripts`):

- `trade-simulation.sh` -- emulates Bob & Alice trading regtest BTC,  using a country based F2F account

- `limit-order-simulation.sh` -- emulates creating regtest buy or sell offer when a limit price has been reached

[2021-01-25 13:48] ghubstan commented on #46
My estimate for docs + trading scripts is 4500-5500 USD.

[2021-01-28 02:08] chimp1984 opened #47 "Implement new-user-onboarding and new UI design"
## Description
@pedromvpg created a while back a great new design including new-user-onboarding:
https://xd.adobe.com/view/a83c2327-4730-4ec2-8938-e318b2749588-fd6f/ (not a finished version but should give a good impression)

For too long we did not manage to get that implemented. To boost that I contacted a few JavaFX experts to see if we can find a UI developer to get that done as well to have a

[2021-01-28 06:05] pedromvpg commented on #47
Thanks for the great breakdown @chimp1984!
Let's do it!

[2021-01-29 00:25] chimp1984 commented on #47
Btw here is the link to the webpage and GH profile of Pedro (the UI dev):
https://www.pixelduke.com/
github.com/dukke

[2021-02-02 22:38] chimp1984 commented on #34
@cbeams Can we close that?

[2021-02-03 07:21] cbeams commented on #34
Closing as (long ago) complete.

[2021-02-03 07:21] #34 closed

[2021-02-03 08:27] cbeams commented on #31
I just ran the repayment report locally, pasting it here as a general update:

<img width="871" alt="image" src="https://user-images.githubusercontent.com/301810/106718858-e650fd80-6601-11eb-960a-b3324200a6fc.png">

[2021-02-03 09:05] ripcurlx commented on #31
@cbeams Thanks Chris! I forgot to report on this over the last cycles.

We had an issue between 26th and 30th of January 2021 as the filter object wasn't delivered properly within the network.
Besides that payout is progressing faster than expected because of the increased trading volume.

[2021-02-03 10:17] ripcurlx commented on #47
@chimp1984 I'm happy to help out on the conceptual side. I don't have enough resources at hand for actual development, but I can try to assist the UI dev if questions are popping up.

[2021-02-03 16:44] chimp1984 commented on #31
Ah wow, another 2-3 strong months and we have completet that hopefully!

[2021-02-04 01:18] pazza83 commented on #47
Linking this in here as it would be good to include as part of the UI redesign [Add featured payment methods fields](https://github.com/bisq-network/bisq/issues/4990)

[2021-02-04 04:31] pazza83 commented on #47
I wonder if any elements from https://mempool.space/ could be included in the new UI design.

I always find myself using this frequently when trading on Bisq. Mainly to look at the following:

- Block activity
- No of Unconfirmed TXs
- High priority fees estimator

It would be good if on the Bisq client it would show users:

- Time since last block confirmed
- Average sat/vB of last block confirme

[2021-02-04 05:11] pazza83 commented on #47
Currently 75% of trade fees are paid with BTC.

The goal is to get closer to 75% of trade fees paid with BSQ.

Maybe the new GUI could be developed to promote / onboard users to using BSQ for trade fees.

See comment: https://github.com/bisq-network/proposals/issues/305#issuecomment-773010472

[2021-02-06 01:47] pazza83 commented on #47
It would also be good if the new UI made it easier for new users to purchase BSQ, ties in with comment above.

See [Improve BSQ account creation & purchase process #5046](https://github.com/bisq-network/bisq/issues/5046)

[2021-02-07 15:31] chimp1984 commented on #29
@ripcurlx @cbeams Can we close that project? We have rewritten and improved persistence and as we only read once at startup there is no use for a database solution. Also it would add a huge dependeny tail and with it increase the security attack surface.

[2021-02-07 15:31] chimp1984 commented on #28
@ripcurlx @cbeams Can we close that project?

[2021-02-07 15:32] chimp1984 commented on #23
@ripcurlx @cbeams Can we close that project?

[2021-02-07 15:32] chimp1984 commented on #22
@ripcurlx @cbeams Can we close that project?

[2021-02-07 20:53] pedromvpg commented on #47
Hey! Do we have a developer secured. @chimp1984 should we push for a call?
He never ended-up reaching out.

[2021-02-08 02:48] chimp1984 commented on #47
@pedromvpg He will be available from march on, he said is still quite busy with his previous project.

[2021-02-08 06:35] cbeams commented on #29
I did not track this project, but given the inactivity and your comment above, I'll err on the side of closing it as rejected.

[2021-02-08 06:35] #29 closed

[2021-02-08 06:37] cbeams commented on #28
Closing as rejected.

[2021-02-08 06:37] #28 closed

[2021-02-08 11:20] cbeams commented on #23
Closing as complete given that we have in fact migrated to Tor v3. The milestone on allowing clients to upgrade was not completed, but it appears to be a separate concern at this point.

[2021-02-08 11:20] #23 closed

[2021-02-08 11:21] cbeams commented on #23
I've also closed the associated project board at https://github.com/orgs/bisq-network/projects/15.

[2021-02-10 08:54] ripcurlx commented on #47
I think what we can/should do until then is to have a complete click-prototype of the new on-boarding which we have tested already with some real users. WDYT?

[2021-02-10 08:56] #22 closed

[2021-02-10 15:39] chimp1984 commented on #47
Yes, would be good that we are completed once he is ready so he can start implementing it. He has no Bitcoin experience so we cannot expect much domain related UX input from his side.

[2021-02-12 01:10] Conza88 commented on #47
Fantastic work. I added comments to Adobe presentation fyi. One summary:

"General comment: this walkthrough for onboarding is epic. And major improvement for anyone new.

I wonder though, the old hands, active users - way to give the option of 'advanced'? Where it just cuts through all the steps and as it currently is, they can quickly fill out the offers etc. on one page?

Because TBH, I would n

[2021-02-12 01:13] Conza88 commented on #46
Q - the Android app, after this API release - it makes it _possible_ for it to take offers, make offers etc. on that?

[2021-02-12 08:27] ripcurlx commented on #47
As far as I remember the prototype had a `skip` button on each screen.

[2021-02-15 18:19] chimp1984 commented on #47
As I am in the process to fade out of Bisq I cannot take that role anymore. I hope someone else or a group of others could step in. It will also require some technical lead for the project.

[2021-02-19 14:28] pazza83 commented on #47
@Mycelial1 I saw your now deleted comment about how to create more interest in BSQ generally. I liked your design ideas. Maybe you could drop them in this thread if you feel it is appropriate?

[2021-02-19 14:46] pazza83 commented on #47
Happy to get involved in any discussions about how this could be achieved. Having contributors paid directly in BSQ is the preferable option but it might be good to consider alternatives if / when this is not possible.

I think there are a few different way the DAO could be used to fund project / contributions etc apart from BSQ. Don't think that this thread is the best place for it though. Happy

[2021-02-19 19:49] wallclockbuilder commented on #41
@wiz Is milestone 2 still up for grabs? Is it still assigned to @softsimon ?
I’m available to start working on this ASAP.

[2021-02-20 07:03] Conza88 commented on #47
Is that a skip it all entirely, and it goes straight back to current advanced interface?

An option to never show again would be ace imo.

[2021-02-20 11:47] wiz commented on #41
Actually, I was just discussing this with @m52go, since MS2 got stalled we decided to move some of the tasks from MS2 into a new MS3 so @softsimon can proceed with MS2 now

[2021-03-02 12:12] huey735 opened #48 "Improve support and mediation"
## Description

The support and mediation provided by the Bisq contributors has a lot of room to improve. The goal of this project is to come up with ways to create standards and resources that the contributors and traders can refer to and use for better experience.

## Rationale

It's important we have an agreed upon set of solutions, standards and responses that all support agents and mediators

[2021-03-02 12:13] huey735 commented on #48
@bisq-network/support

[2021-03-13 09:10] BtcContributor commented on #47
Any update from the UI dev?
Is there someone that have his contact apart from @chimp1984 who will be leaving soon?

[2021-03-15 00:25] Conza88 commented on #47
Great question. Sooner the better this kicks off.

[2021-03-15 08:55] ripcurlx commented on #47
The contact is the one thing. But we would need following roles to be filled before it makes sense to contact the UI dev:
- Donor who put's down the BTC required in a multi-sig, similar to what we had for the SegWit project (UI dev is new to crypto and even accepting and holding BTC is already the first challenge)
- An existing dev contributor who can coach the new UI dev
- Someone who leads the p

[2021-03-15 08:56] ripcurlx commented on #47
And it would help to slowly build up and test the API.

[2021-03-25 08:47] ripcurlx commented on #31
A quick update on the current payout state. We are nearly at 70% USD value payout.
![Bildschirmfoto 2021-03-25 um 09 45 29](https://user-images.githubusercontent.com/170962/112444965-ea221600-8d4e-11eb-99a9-e65106a28af5.png)

[2021-03-25 17:07] chimp1984 commented on #31
The diff to the last update (3.2.2021) is 65397 USD, so that would result in an average of about 39238 USD / month.

So whats missing: 235 831 USD - 164 536 USD = 71 295 USD. That should be less than 2 more months if we get similar volume. Luckily we did much better as expected. 12-13 months instead of initially estimated 20-30 months. One reason for that discrepancy thought is likely that the sha

[2021-03-28 22:27] pazza83 opened #49 "Implement new-user-onboarding and new user interface design"
## Description
Implement new-user-onboarding and new UI design as discussed in #47

## Rationale
Bisq is a P2P exchange that is accessed via a software client that while extremely functional has remained largely unchanged from a user interface and user experience perspective.
In order to increase the accessibility of Bisq for new and existing users the user interface and user experience should be

[2021-03-28 23:04] chimp1984 commented on #47
Superseeded by https://github.com/bisq-network/projects/issues/49

[2021-03-28 23:04] #47 closed

[2021-04-02 01:50] pazza83 commented on #48
Hi @huey735 is any one putting together a 'code of conduct document'?

I would be happy to produce one for discussion / feedback if one has yet to be created.

[2021-04-02 02:10] pazza83 commented on #49
Following discussion today on Keybase and in the thread [Why does Bisq need a new GUI?](https://github.com/bisq-network/bisq/discussions/5371#discussioncomment-560204) it would be great to see if we can achieve a rough consensus about how to move forward.

## My proposal is as follows:

**@dukke to be complete Stage One: Coding and onboarding**

This will involve:

- Performance test FXML vs Plain

[2021-04-04 01:09] pazza83 opened #50 "Add Monero to fiat trading pairs using BTC as the security deposit (multi-sig)"
## Description

This is a project proposal to create XMR/Fiat markets on Bisq using BTC as the security deposit.

I have documented this proposal following discussion of it on Busq's GitHub discussions: [#5285 ](Monero to fiat trades using BTC as the multi-sig #5285)

## Rationale

XMR/BTC is the most liquid market on Bisq. This market generates more revenue for Bisq than all of the other markets

[2021-04-04 01:42] wiz commented on #50
I don't think this is feasible without forking the trade protocol. It would be quite a large undertaking.

[2021-04-04 01:56] pazza83 commented on #50
Would there be a work around, increase the percentage that could be used for the security deposit to 115%?

[2021-04-06 22:06] pazza83 commented on #49
Great, looks like it is a unanimous yes to getting started on the first stage. I have contacted @dukke to let him know. He is sending over a contract / NDA to me and then I will arrange for him to set up a discussion with @ripcurlx about the work needed for the first stage.

[2021-04-07 22:29] m52go commented on #50
I think this is an interesting idea but potentially flawed.

### XMR-BTC

I realize this proposal is not about XMR-BTC, but this background might be helpful for perspective.

Bisq is already capable of doing high XMR trading volumes. Back in summer 2019 it wasn't uncommon to see 80, 100, or even 200 BTC trading days. Nowadays it's rare to see a 50 BTC trading day, but it does happen. It's just not

[2021-04-10 00:14] pazza83 commented on #50
Hi @m52go thanks for your comments.

**XMR-BTC**

Thanks for the background with regards XMR-BTC. I agree that the arbitration time and refunds given in BSQ would deter many users from trading on Bisq, especially if those trades where over the amount the refund agent can compensate.

I wonder if the large trades come at times when there are good arbitration opportunities between Bisq and other exc

[2021-04-10 04:38] m52go commented on #50
Ultimately I think it boils down to what Bisq stakeholders want Bisq to be. If they want it to be an effective XMR exchange, they should spend resources to take the project in that direction. If they want it to be an effective fiat exchange, they should spend resources to take the project in that direction.

I'm not sure how practical it is for Bisq to cater to both...would need a developer to cla

[2021-04-10 05:04] pazza83 commented on #50
Yes understand that it needs to grow in the way the stakeholders want it too.

I think Bisq as a fiat > BTC exchange is core to what Bisq is.

I think if Bisq wants to grow in terms of BTC revenue it will need to develop markets for other altcoins. XMR seems like a great fit for Bisq and think there is the opportunity there for Bisq to cater for the XMR communities needs more than it does at prese

[2021-04-10 05:46] m52go commented on #50
Shortage of human capital, not financial capital. I don't see a way to do this without diverting developer resources from other top priorities. Even if an outside developer is found to do the work, Bisq maintainers would still need to spend time to review that work...which could be significant if it involves major protocol changes, which is why this idea really needs developer feedback. Maybe the

[2021-04-12 13:39] ripcurlx commented on #31
... and we are close to 80%
![Bildschirmfoto 2021-04-12 um 15 38 17](https://user-images.githubusercontent.com/170962/114403543-2e157780-9ba5-11eb-859f-79fb6377b0e0.png)

[2021-04-17 01:02] pazza83 commented on #49
Just to update I am discussing with @dukke how the process of compensation will work for the project. Hopefully an agreement can be reached soon. I will update when I have more info.

[2021-04-26 21:23] chimp1984 opened #51 "Message board for multi-protocol project (working title Misq)"
## Description
Based on the idea proposed at https://github.com/bisq-network/proposals/issues/330 and https://github.com/bisq-network/proposals/issues/331 I would like to start with a minimal viable product for a shared messageboard for any type of offers which can be executed out of band and do not provide a standard security model but leave it to the traders to propose and negotiate that aspect.

[2021-04-26 21:57] mpolavieja commented on #51
I think this is important. Smartphones are the main tool people use right now.   Also, and maybe later in the future if this approach works, some kind of integration of this new feature within a popular mobile wallet that supports LN (aligned with Bisq principles, of course: open source, non custodial, etc...) could be very useful as we could have a lot of potential users on board immediately.

It

[2021-04-26 22:06] chimp1984 commented on #51
Ledger has a done a great job UX wise. They way how they add a multitude of different apps to the hardware wallet is great and even all comes with lot of complexity it feels not that complicate. This "app" model might be usefule for the UX challenges of the multi protocol model as well.

[2021-04-27 07:58] ripcurlx commented on #51
I think this will occur immediately. Either the service can be ran completely anonymous to prevent legal liabilities for the operator or we introduce a kind of access control to the service. If it is not too much effort we could limit access via a simple code and every new user has three new codes she can share with her friends (we could even use this to market the service :wink:). So when abuse i

[2021-04-27 15:48] flix1 commented on #51
A first approximation to necessary fields:

![image](https://user-images.githubusercontent.com/4233784/116271844-a91f8600-a780-11eb-96c0-d4dcdb2b3fa3.png)

I would keep it as simple as possible but also as open as possible, even allowing users to input whatever asset or payment method they want initially (instead of giving them a dropdown to choose from).

I would also keep every offer on the same

[2021-04-27 16:07] chimp1984 commented on #51
@ripcurlx
I am not so sure if that will happen that fast. But sure if it happens we have to add some access control. The idea with friends sharing tickets might be not bad and would play into the direction to add more "social features", and we could distribute those tickets via Bisq and could help to promote the new "feature".
I think we have to see it clearly as an experiment, so to see/learn how

[2021-04-27 16:12] flix1 commented on #51
I don't have the necessary skills to lead the project, but I am willing to help with several tasks. For example I would happily do this:

[2021-04-27 16:13] chimp1984 commented on #51
@flix1
I think we should drop the BUY/SELL terminology and use ASK/BID instead. BUY/SELL works if there is one side considered as money and one side as commodity (Buy BTC with EUR, buy ETH with BTC).  But if we allow anything to anything that is lost. E.g. EUR <-> USD,  ETH <-> XMR.
So to make it more clear from the user perspective I think its better to use:
I HAVE EUR and WANT USD or I BID EUR a

[2021-04-27 16:15] chimp1984 commented on #51
I think for contact we could use an URL. Twitter link, URL link to Telegram nickname, email,... People can/should create burner accounts so the privacy and security risks can be mitigated.

[2021-04-27 16:26] flix1 commented on #51
![image](https://user-images.githubusercontent.com/4233784/116279490-e3d8ec80-a787-11eb-8bc0-3a81fb04a7f0.png)

@chimp1984 changed according to your suggestions. I think the price column is important for filtering/ordering purposes, but should be autocalculated as a result of other offer inputs.

[2021-04-27 18:47] eyalron33 commented on #51
How would the moderator know when an offer was "taken" and should be taken off the list?

[2021-04-27 19:02] chimp1984 commented on #51
I think a date field which gets automatically set at creating time (not editable) can help to clean up old offers as well to sort for age. Users should remove themself and if no they might get too many contact request, so most might do that. Beside that we can set a rule that offers older then xxx days get removed....

[2021-04-27 20:50] eyalron33 commented on #51
The inspiration is Bisq Keybase group, right? I didn't see how it works there. Was it all in the public chat (someone say "I want to sell", someone else replies "I want to buy, pm you", or in any other way?

If it's in the public chat, then it was kind of visible which offers were taken (which is one reason that it functioned). Since this is the inspiration, maybe we should take it into account.

[2021-04-27 21:20] chimp1984 commented on #51
Here are the docs: https://bisq.wiki/Buy_BSQ#Buying_small_amounts
There are 2 channels where traders can meet. I have not looked closer myself but seems it used and had zero problems so far

[2021-04-27 22:38] eyalron33 commented on #51
I looked at the Bisq trading group now.

People there report 'completed trades", so it's "off the table".

Another feature it has is that you actually look only at the last 3-4 offers (I can't imagine many people scrolling up to look for more). You also get notified of new offers (if your keybase is open with notifications on).

This all works because it's super small. Less than 50 people, so not

[2021-04-27 23:07] pazza83 commented on #51
Hi @chimp1984 I think testing the ideas proposed in https://github.com/bisq-network/proposals/issues/330 would be great.

I am a little confused with what aspect this project is looking to test with the creation of a message board. Is it the social trading aspect? or both the social trading aspect and the collateral aspect (if taken to Bisq)?

**Social aspect**

Where does the reputation aspect co

[2021-04-28 00:22] chimp1984 commented on #51
@eyalron33

Yes the spreadsheet is only a temporary quick and cheap test.
The p2p network with a more sophisticated UI is the next step and that will be the base to the larger multi-protocol model. We can use that iterativ approach as low risk experimentation playground to work on the UX challenges how to present multiple protocols to users without confusing them.

To have it also in Bisq as add-o

[2021-04-28 00:42] chimp1984 commented on #51
@pazza83

Not really the social aspect, rather to bring the keybase OTC model into Bisq and further develop it to see if the no/low security model has sufficient demand and if it can work in a little broader context as in keybase.
Beside that it comes with the UX challenges how to deal with many multiple types of trades and multiple secruity models. So it will help us to figure out early if that c

[2021-04-28 00:47] chimp1984 commented on #51
Actually adding a chat room might be useful. So newbies quickly can find help. Of course there is risk for abuse but there will be ways to mitigate that....
The further we go that route to let users freely interact the more we enter the challenges of any social media platform ;-).
Though we have some benefits over their options as we have conneced trust related data (account age witness) and finan

[2021-04-28 00:55] eyalron33 commented on #51
if there's a chat room, it could be useful to post/cancel a chat with a command there (instead of filling the table/fields one-by-one).

Something like: "buy 20 BSQ for 50USD Revolut"

This also kind of gives notification for a new offer.

[2021-04-28 01:05] chimp1984 commented on #51
Maybe I share as well my preliminary rough ideas about identity in the new model.

The network will operate on a network node identity (for routing, peer management) which is not used for higher level communication. This identity (onion address) will have a medium lifetime (e.g. 1 month) before being renewed. It is mainly useful to find past peers for bootstrapping.

Any higher level communication

[2021-04-29 08:53] flix1 commented on #51
Added date. Good idea for offers to automatically disappear after a week.

![image](https://user-images.githubusercontent.com/4233784/116525653-0890a980-a8d9-11eb-8d5c-7bb785f38f60.png)

[2021-04-29 09:23] mpolavieja commented on #51
Would it make sense to somehow **very easily** "import" or post the account age from Bisq in your fiat buy offers? I mean, without building again Bisq in this simplified layer, which I understand it is not the point at all.  (for secure tx, we already have the full featured Bisq app).

For the spreadsheet initial version, maybe the account age could be posted in the column "Security contract" and

[2021-04-29 12:48] chimp1984 commented on #51
This would require extra work in Bisq to export it as a text format and then to add a tool for verifying it (similar like a signaure verification tool). I would prefer to keep the scope limited for now. Once the trade board is integrated in Bisq it can be done there much easier, but externally its not that easy.

[2021-04-29 14:47] chimp1984 opened #52 "Specify interface and architecture for wallet and blockchain data modules"
## Description
Research solutions for the wallet and blockchain data modules, provide a proposed solution and specify interface and architecture based on the targeted protocols and blockchains.

## Rationale
For the multi-protocol / multi-blockchain project we need to support different blockchains and wallets. Beside that there should be also flexibility for users to make a trade off between best

[2021-04-29 15:22] chimp1984 opened #53 "Research a solution for dynamically loading remote modules"
## Description
Research a solution for dynamically loading remote modules.

## Rationale
For the multi-protocol / multi-blockchain project we need to support different blockchains and wallet modules. It would not scale to ship all those with the core application.
We need a model to load on demand what the user is interested to use. E.g. user choose to trade Zcash. The Zcash wallet and blockchain m

[2021-04-29 15:39] flix1 commented on #51
Since real life is the best test, I thought that while we build something better we could play around with a Google Sheets. I know it's not the best for privacy, but I will delete it in a couple of months.

[Sisq order book 0.1 just testing](https://docs.google.com/spreadsheets/d/1ZbNeKtW8dkWI_SM-soKwQknoDVZcGXsjnSYVFb-ZA0c/edit?usp=sharing)

Minimum viable product and iterate...

Feel free to pla

[2021-04-29 16:16] flix1 commented on #51
![image](https://user-images.githubusercontent.com/4233784/116583622-d56d0b00-a916-11eb-8142-07712c0f1502.png)

A lot of curious users lurking and our first offer (by someone other than me)!

We also had our first bit of vandalism 5 minutes in. That's part of the test I suppose!

[2021-04-29 16:16] chimp1984 opened #54 "Define architecture and interfaces for the protocol layer"
## Description
Define architecture and interfaces for the protocol layer with the requirement to support multiple protocols and potentially external protocols (e.g. farcaster).

## Rationale
To support multiple contract execution protocols (asset trades, loans,...) we need an architecture which allows different protocol implementations to be used.
Asset transfer and security are considered as sepa

[2021-04-29 16:17] chimp1984 commented on #54
@stejbac Would you be interested/available for that project?

[2021-04-30 13:14] eyalron33 commented on #51
I'd like to offer another alternative, easier to implement and fulfill the same requirements imo, in the spirit of what was described here. In theory, I could take it upon myself to build lots of what is proposed here, but I'd need the help of a UX designer/or frontend developer (I can do that, but I'm not great at it), and it also depends on the budget.

The proposal has three phases.

**Phase on

[2021-04-30 13:40] ghost commented on #52
I will devote up to 1 month on this and my estimate for cost would not exceed $8000.  If my deliverable is not up to standards the DAO can decline my compensation request.

I will deliver progress reports twice a week posted to this thread so that:

-   (a) it keeps me focused on results,
-   (b) if I get stuck or go down a wrong path suggestions can be made.

Plan of work:
- Identify actions that

[2021-05-01 12:46] eyalron33 opened #55 "Research on solutions for DIDs (decentralized IDs) in Bisq"
## Description
Research on solutions for DIDs (decentralized IDs), The proposal is to create a document that includes a market survey, the current state of IDs in Bisq, and one or more proposals for protocols for DIDs in Bisq, considering Bisq needs and capabilities.

## Rationale
A core idea proposed for future versions of Bisq is "social tradings", see https://github.com/bisq-network/proposals/i

[2021-05-01 16:40] chimp1984 commented on #55
Just a few notes to avoid potential confusion:
The intended identity system is fully under control of the user. The user can choose between maximal privacy (appear always like a new users with zero reputation/fresh identity) or an identity used for reputation which enables new features like usage for trade protocols, access to certain features without financial cost.

Any permissionless and open s

[2021-05-02 01:21] pazza83 commented on #48
Here are my suggestions for the code of conduct:

## Bisq Mediation - Codes of conduct

For traders entering mediation in Bisq this is what they can expect from mediators:

- Mediators will adopt a neutral stance
- Mediators will reveal any potential conflicts of interest
- Mediators will maintain the confidentiality of all traders
- Mediators will direct traders to appropriate resources
- Mediato

[2021-05-02 10:44] leo816 commented on #48
* Mediators will respond to messages within 24hrs.

Will add this to the wiki. Thank you @pazza83

[2021-05-02 13:46] pazza83 commented on #48
Thanks, included your update

[2021-05-03 00:33] pazza83 opened #56 "Add Buy-Monero Keybase channel on Bisq for fiat trading pairs using BSQ bonds as the security deposit"
## Description

Following on from my proposal to [Add Monero to fiat trading pairs using BTC as the security deposit (multi-sig)](https://github.com/bisq-network/projects/issues/50)

I thought I would take a minimal resource approach to propose using a buy-monero Keybase channel to establish if there is a good demand for the service.

This proposal is to create a buy-monero Keybase channel using B

[2021-05-03 11:19] stejbac commented on #54
I would be interested in this project and should be available full time over the next month to work on it.

[2021-05-04 07:04] ripcurlx commented on #31
Slowly getting closer to 90%...
![Bildschirmfoto 2021-05-04 um 09 03 34](https://user-images.githubusercontent.com/170962/116970119-adcfc700-acb7-11eb-86f7-31876531c45d.png)

[2021-05-06 12:01] chimp1984 commented on #51
Here is my current state of development:
https://github.com/chimp1984/misq/wiki
https://github.com/chimp1984/misq

[2021-05-07 02:38] viperperidot commented on #56
I just want to add a potential side-issue to this proposal, I think if we start using Keybase for active trading more it will become inevitable to be flagged at some point and potentially shutdown. I think for this reason and to secure a main chatting platform for bisq development we should be looking at migrating to a more censorship resistant platform, before we have to do so in reaction to some

[2021-05-07 07:35] Akira45-0 commented on #56
What about trading XMR for stablecoins? Could it be included in this proposal?

[2021-05-07 09:03] MwithM commented on #56
I don't see why stablecoins can't be included, as long as there is someone to take that offer. On the BSQ channel I'm open to sell BSQ for LN, liquid, RSK and I could include DOC as well.
Maybe this project has been already overseeded by the [Sisq](https://github.com/bisq-network/proposals/issues/331) spreadsheet.

[2021-05-09 02:41] chimp1984 opened #57 "Prototype for offer book and create offer UX for Bisq 2.0 (Misq)"
## Description
A click dummy prototype to demonstrate the UX for the offerbook and create offer screen for multiple trade protcols.
It should include an on-chain and one off-chain protocol (e.g.MultiSig based protocol and Reputation based protocol)

## Rationale
We should find out early how we meet the UX challenges with the multi protocol design.

## Criteria for delivery
A clickdummy is provided

[2021-05-09 15:52] chimp1984 commented on #57
Just to make clear: The project is not about the actual design or an implementation (webapp, javaFx,...). The clickdummy can be Adobe XD project or some other wireframe tool...

[2021-05-10 15:14] eyalron33 commented on #57
That's a super tough challenge for a UX designer, even if they are already Bisq users since Misq is quite different.

Doe Bisq has UX designers that the community already knows and like their style of work (like it has developers with a well-known reputation?). If not, maybe it's a good opportunity to get some.

We could secure funds from the DAO (not sure how) or collect BTC from the community an

[2021-05-10 17:14] chimp1984 commented on #57
Yes, @pedromvpg is our designer who made the currently used design. I asked him already but he is overloaded with other work atm ;-(.

I think to make a competition is too much overhead and I personally do not have good experience with the results from such attempts.
Also as stated its not required to be a designer for that task, it is about the usability. Sure most designers bring more experience

[2021-05-10 17:25] ripcurlx commented on #31
And more than 90% payed back :smile:
<img width="844" alt="Bildschirmfoto 2021-05-10 um 19 24 12" src="https://user-images.githubusercontent.com/170962/117699644-5eacf900-b1c5-11eb-8c1d-3ebd63437899.png">

[2021-05-10 22:36] viperperidot commented on #51
Just so everyone knows and this is tracked here, we have migrated the spreadsheet from Google onto a more private, secure and censorship resistant alternative called CryptPad that better lines up with Bisq. The spreadsheet has also been cleaned up a bit and a README section added (feedback on this would be good if any changes are needed). It is still fully open right now but the ability exists to

[2021-05-11 04:52] viperperidot commented on #57
I have some experience with options trading so when we get to that part of the project I could contribute on non-code related parts of implementing that. There are a couple different ways people trade options so we will want to work out how we actually want this to function in Bisq. The UX for options usually follows a specific format called an 'Option Chain' so we could base ours off that, but de

[2021-05-11 07:56] eyalron33 commented on #57
But I wrote about "UX designers"...

I actually had a good experience with competitions, but sure, as you wish:-)

I'll publish the proposal in https://bitcoin.design/  Slack, gladly.

[2021-05-11 16:09] chimp1984 commented on #57
@viperperidot Ah good to hear that you are experienced in that field! I think for now we would not have the bandwidth to do anything in that direction, challenging enough to get the basics done. But the overall design has to consider those other financial products, so that why I mentioned it.

@eyalron33
Thanks for publishing on bitcoin.design Slack!
Feel free to engage in looking for that role ho

[2021-05-12 06:29] flybylow commented on #57
Hi, I'm a UX designer with experience in building wireframes and clickable prototypes. I'm looking for a project in the crypto space to get some experience in the industry. I know a bit about trading but need more details on certain aspects.  Would be good if i can partner with someone with deeper technical knowledge.  We can work on the concept together. I'll turn into a prototype (and maybe do s

[2021-05-12 06:57] cd2357 commented on #57
@warddem great. Unless others have other ideas, here's what I would suggest:

Have a look at the current Bisq UI to get an idea of the main concepts. Alternatively check out the short intro clips [here](https://bisq.network/getting-started/).

Simplest first step for you would be to create one simple page, like the Orderbook (see details in description above). If possible, also add some filtering

[2021-05-14 09:20] flybylow commented on #57
@cd2357 Sounds like a plan. I'll go through the Bisq flow and rework 1 element.

Let's start with a static wireframe (to map the functionality).  I'll get back to you next week.

[2021-05-14 09:26] eyalron33 commented on #57
@warddem just in case you are new to Bisq, take a look also at how the compensations process works with Bisq DAO:-)

https://docs.bisq.network/compensation.html

[2021-05-16 23:34] pazza83 commented on #56
Closing as think this would have been better placed as a proposal rather than a project.

Also lack of support for this means I will hold off on opening it up as a proposal.

[2021-05-16 23:34] #56 closed

[2021-05-17 14:39] ghost commented on #52
Update: https://github.com/chimp1984/misq/discussions/5#discussioncomment-748405 & also the two documents linked above.

[2021-05-18 14:55] ghubstan commented on #53
I posted an update on my Java Modules `JPMS` investigation [here](https://github.com/chimp1984/misq/discussions/5#discussioncomment-748273).  The conclusion about `JPMS` is that it will not work for a project with dependencies that cannot be modularized (like grpc).  And we will have to manage version conflicts and version mis-alignment as best we can without `JPMS` or `OSGi`.

[2021-05-21 08:51] flybylow commented on #57
hey @eyalron33 Here a quick wireframe for the collapsable rows;
https://www.figma.com/proto/aiU372Mvo496HbZWe9GcLS/Bisq?page-id=37%3A0&node-id=37%3A340&viewport=784%2C-1161%2C0.29217809438705444&scaling=contain

Offer / from labels + setup wizard:
https://www.figma.com/proto/aiU372Mvo496HbZWe9GcLS/Bisq?page-id=51%3A194&node-id=51%3A312&viewport=521%2C345%2C0.3520146608352661&scaling=contain
"More

[2021-05-21 15:43] chimp1984 commented on #55
As identity will play a key role in the p2p network layer I can share my preliminary view on it.

An identity is a key pair. For most cases and network it includes also the network address(es) (onion address, i2p address).
Each interaction (take offer) comes with its own isolated new identity. So taking 2 different offers from the same maker will appear as its 2 independent traders if both use the

[2021-05-23 00:48] ghost commented on #52
- Updated doc with latest notes & conclusions. https://gist.github.com/jmacxx/587ac9a59d7d060b4f9fdf37fa9cc8ef
- Added a second prototype running an example 2-of-2 multisig trade https://github.com/jmacxx/misq_prj52_WIP.
- Also added basic [electrum wallet RPC](https://github.com/jmacxx/misq_prj52_WIP/tree/master/misqWalletRpc2/core/src/main/java/com/misq/core/electrumd) to prototype.

[2021-05-23 01:21] chimp1984 commented on #51
For updated on the progress on the P2P network work see https://github.com/chimp1984/misq/discussions/ and the keybase #misq-dev channel.

[2021-05-23 02:52] chimp1984 commented on #52
Do you think the scope of the project is completed? From what I see it seems so.

[2021-05-23 15:01] ghost commented on #52
What remains, from my point of view:

- IMO there needs to be the concept of `capability` in the interface so that Misq knows if a provider can be used for what kind of trading methodologies (not all chains and not all wallet providers can satisfy the advanced use cases).
- Produce a design. (a generic interface handling different implementations while being able to satisfy various use cases: norm

[2021-05-23 15:30] chimp1984 commented on #52
Yes agree an interface for providing the implementations `capability` would be useful. Though I think we should focus on wallets which support all main use cases. Some blockchains like Monero will be excluded for some protocols due lack of some features (timelock), so that will an additional restriction we have to keep in mind.

I see a RFC document optional at that level, but you can start a draf

[2021-05-24 20:45] eyalron33 commented on #57
@warddem thanks! I wrote you in Slack to talk about it in more detail.

[2021-05-27 16:44] eyalron33 commented on #57
Following advice from @chimp1984, I spoke with @warddem. I would try to work with him on this from the Bisq side. We could change the original proposal to make it "official".

First, see Ward's wireframe for his current ideas [here](https://www.figma.com/proto/aiU372Mvo496HbZWe9GcLS/Bisq?page-id=37%3A0&node-id=93%3A666&viewport=938%2C-427%2C0.08203963190317154&scaling=contain). In this wireframe y

[2021-05-27 21:02] chimp1984 commented on #57
Thanks!

I would ignore that for now. Lets focus on the main use case.

I think its the common model for P2P exchanges (LocalBitcoin,...). Binance has added P2P exchange as well, which looks also like LBTC...

Yes I agree that the names will not mean much to new users. But over time they can become more a known term like atimic swaps are already. To show to the user the benefits/costs can be a goo

[2021-05-28 04:01] ghost commented on #52
- Added a third and fourth prototypes using electrum to do 2-of-2 multisig trade deposit https://github.com/jmacxx/misq_prj52_WIP.

Spent a lot of time fighting to get electrum to be able to sign a combined transaction between Alice & Bob for funding a multisig trade. Electrum's transaction building routines are a bit weird and nowhere near as good as bitcoin core. Had to resort to deugging electr

[2021-05-29 14:19] eyalron33 commented on #57
After further discussion with @warddem we will do as the first milestone for this proposal the following:
- Create a clickable "Offerbook".

The cost that we'll ask from the DAO:
- 500 USD @warddem
- 200 USD to me (Neiman)

The design would base on the one [here](https://xd.adobe.com/view/a83c2327-4730-4ec2-8938-e318b2749588-fd6f/). Based on what's written, we'll do a one-column Offerbook (so all

[2021-05-29 14:51] chimp1984 commented on #57
Thanks for the offer.

I will post a bit later a reply. Need some time to think about what should be in.

Not aware of any. I guess Bisq is entering a new space with that.

I just made a few screenshots from ledger live app. It has great UX and might help as inspiration. Will post it here below....

[2021-05-29 15:05] chimp1984 commented on #57
<img width="1838" alt="Screenshot 2021-05-29 at 10 00 32" src="https://user-images.githubusercontent.com/54558767/120074956-ed929000-c064-11eb-9cf7-707bd7625f94.png">
<img width="1818" alt="Screenshot 2021-05-29 at 09 57 53" src="https://user-images.githubusercontent.com/54558767/120074952-e8cddc00-c064-11eb-9337-fe23f705dda9.png"><img width="573" alt="Screenshot 2021-05-29 at 09 56 27" src="https

[2021-05-31 03:15] ghost commented on #52
- Updated prototypes to include a LND wallet interface and added `Capability` enum to the wallet interface so clients can figure out what the chosen wallet can do.  https://github.com/jmacxx/misq_prj52_WIP/tree/master/misqWalletRpc5

Currently only referencing the mainchain functionality.  Lightning functionality might conceptually be a sub-interface if possible.  Especially as the [LND API](https

[2021-05-31 22:25] pazza83 commented on #48
The trade penalties aspect of this is now complete. I have just closed the issue: [Display link to the dispute resolution process including table of trade penalties at relevant points in trade process](https://github.com/bisq-network/bisq/issues/5456)

The penalty info is now linked from both the wiki and the Bisq client.

I will keep the table updated with any new scenarios that occur.

[2021-06-03 15:35] flybylow commented on #57
Hi.
Here a link to the new prototype:
https://www.figma.com/proto/aiU372Mvo496HbZWe9GcLS/Bisq?page-id=191%3A2798&node-id=191%3A2799&viewport=1733%2C464%2C0.46835973858833313&scaling=contain

It combines functionality for beginning users as well as advanced users in 1 interface.

Goals:
- Limited options and simple labels for new users
- More filter options for advanced users (open filter bar via "

[2021-06-04 21:03] jmacxx opened #58 "Integrate wallet and blockchain data modules in Misq"
## Description

Further to #52, this project is to integrate Bitcoind and Electrum wallets functionally within the Misq project.  This will permit Misq trading and funds transfer to be performed using either of these two different wallets.

## Rationale

A large part of Misq goal is to have the ability to choose between different third party wallet implementations.  Without it we would be joined a

[2021-06-06 14:11] chimp1984 commented on #51
I renamed the prototype repo to https://github.com/chimp1984/misq_prototype1 so discussions are found at: https://github.com/chimp1984/misq_prototype1/discussions

Will continue to make weekly reports and dev call agenda and minutes here now.

[2021-06-06 14:24] chimp1984 commented on #51
Weekly update 6.6.2021:
- Continued to work on UI. Added filter to offerbook. Also started with create offer screens (but not much developed still). A few iteration about the MVC structure. Here is a summary of the current approach: https://github.com/chimp1984/misq_prototype1/discussions/24
- Looked also into https://github.com/netopyr/reduxfx/ as alternative to MVC but did not get convinced of i

[2021-06-06 14:31] chimp1984 commented on #51
Agenda dev call 7.6.2021:

- Updates devs
- Webapp approach - @cd2357 started on a JSP based prototype, @ghubstan suggested that we do not go further on that as JSP are tighly coupled architecture and outdated. A grpc based API delivering json via ratpack server is considered atm. Frontend can be then any (node.js based?). Frontend project will be dedicated repo once we have a dev for that and its

[2021-06-06 16:30] ghubstan commented on #51
Might be a typo, but to clarify, the api would not know anything about the grpc server or webapp.  It's the other way around: the grpc server and webapp would use the same api, and serve grpc clients (CLI) and web clients (REST/json) respectively.

[2021-06-06 16:47] chimp1984 commented on #51
Yes, sorry was sloppy.... and also shows its not my domain ;-)

[2021-06-06 20:03] ghubstan commented on #51
Update: I worked on the basic [misq](https://github.com/bisq-network/misq) build/module organization.

I have also been working on a simpler way to use `jpackage` to build native package installers. The idea is to have custom gradle-plugins download and verify the jdk / jfx runtimes, then apply this [jpackage wrapper plugin](https://github.com/petr-panteleyev/jpackage-gradle-plugin).  The download

[2021-06-07 02:18] chimp1984 commented on #51
Add-on to my update:
- I spilt up the finance module to account, contract, offer, protocol and additional support (dispute). I am not sure if that gets too fine grained but at I think it helps/enforces to development with clear dependencies in mind and keep the sub domains as isolated as the context permits.
- I also added module for identity, security (crypto and keystore), wallets and user
- Ren

[2021-06-07 02:19] chimp1984 commented on #51
And here is a UML for the core domain objects. Just a rough and trivial sketch... <img width="712" alt="Screenshot 2021-06-06 at 15 25 47" src="https://user-images.githubusercontent.com/54558767/120950635-cd21a000-c70c-11eb-87b9-fe1dc96615aa.png">

[2021-06-07 08:18] ripcurlx commented on #51
If it is just re-using the jpackage mac signing params than it might not work. At least it didn't work for us. It might be that in that case the plugin cannot be used easily and you'll need a manual process as in the package.gradle file for Bisq.

[2021-06-07 09:24] ripcurlx commented on #31
## Cycle 25 report

![Bildschirmfoto 2021-06-07 um 11 24 06](https://user-images.githubusercontent.com/170962/120992487-f0873200-c782-11eb-9e17-e1468aaf8b96.png)

[2021-06-07 13:08] ghubstan commented on #51
It might not.  If it doesn't we could fork it and add what it needed to make it work , doing all the packaging tasks in java.
Here is the pulgin's gradle task with all the configurable properties:  https://github.com/petr-panteleyev/jpackage-gradle-plugin/blob/master/src/main/java/org/panteleyev/jpackage/JPackageTask.java

Here are the mac os (signing) related `jpackage` params.  They would be set

[2021-06-07 14:16] chimp1984 commented on #51
Here is the first misq issue:
https://github.com/bisq-network/misq/issues/2
Also descibes the app startup/setup design.
If any dev is up for that please leave a comment.

[2021-06-07 16:42] chimp1984 commented on #51
Meeting minutes to todays dev call:

- Update @chimp1984 (https://github.com/bisq-network/projects/issues/51#issuecomment-855407676, https://github.com/bisq-network/projects/issues/51#issuecomment-855529704)
- Update @ghubstan : He made the first PR for the official misq repo for the project setup. Working on getting jfx packager working. He is working on Bisq API tasks as well atm.
- Update @jmac

[2021-06-07 16:48] chimp1984 commented on #51
Here is the announcement for the kick-off call:
https://github.com/bisq-network/bisq/discussions/5555

[2021-06-08 07:38] ripcurlx commented on #51
The problem was not with those parameters (they are sufficient), but when we uploaded the signed binary for notarization it failed because of specific signing requirements that were not met, which we had to do manually. Maybe this is fixed in Java 16 OpenJDK already as we use Java 15 right now.

[2021-06-08 07:42] ripcurlx commented on #51
But yes, in that case it would be good to fork and prepare a PR for the required changes for macOS to have a cleaner build file in the end.

[2021-06-09 15:29] flybylow commented on #57
@eyalron33 just informed me that you liked the prototype and need some time before the next milestone. Let me know if i can help in the future, it was nice working together on this.

[2021-06-09 17:00] chimp1984 commented on #57
Sorry for not replying, I asked him to give you feedback as he was alreayd closer in touch.
Yes I think we need to work out more the requirements and that will take 1-2 weeks I guess...

[2021-06-09 20:36] flybylow commented on #57
No worries, let me know if can help once the requirements are done.

[2021-06-13 23:35] chimp1984 commented on #51
Update 13.6.2021
- Added monetary package based on BitcoinJ monetary package
- Made offer domain more complete. Ignore filter offerbook aspects as that would take too much time for current stage.
- Made application setup more complete
- Re-added web module and added getoffers endpoint but that cause some issues with json serialisation
- Made some PRs for starting to get the more complete parts int

[2021-06-13 23:38] chimp1984 commented on #51
Agenda dev call 14.6.2021:
- Updates devs
- Add CI build to repo
- Rx version (ratpack use rx version 2 , we started to use verison3)

[2021-06-14 16:08] chimp1984 commented on #51
Update @chimp1984 : https://github.com/bisq-network/projects/issues/51#issuecomment-860286471
Update @jmacxx: He worked on Bisq that week, but will switch back to Misq that week working on the wallets integration project.
Update @ghubstan : He also worked on Bisq that week. Will switch back mid of the week probably. he will have a look to the build/ repo related tasks (get a CI setup, add Codacy)

[2021-06-20 20:03] ripcurlx commented on #31
I'll probably deactivate the filter tomorrow.
<img width="838" alt="Bildschirmfoto 2021-06-20 um 22 02 31" src="https://user-images.githubusercontent.com/170962/122686768-48a64580-d213-11eb-8853-a0fb088b6286.png">

[2021-06-22 20:07] ripcurlx commented on #31
That was quicker as expected. I just deactivated the filter for the victim repayment
<img width="853" alt="Bildschirmfoto 2021-06-22 um 22 01 11" src="https://user-images.githubusercontent.com/170962/122991776-b5514980-d3a5-11eb-93ce-72d36d9faf51.png">

[2021-06-30 11:37] flix1 commented on #51
![image](https://user-images.githubusercontent.com/4233784/123953800-ecc48500-d9a7-11eb-80ba-28905a59af4f.png)

![image](https://user-images.githubusercontent.com/4233784/123953836-f817b080-d9a7-11eb-9b99-82832abd7bb0.png)

These two messages in current Bisq 1.7.0 are interesting and relevant to Misq... I imagine any multi-protocol message board would work a bit like this... showing ALL offers in

[2021-06-30 12:52] ghost commented on #58
Closing this as I'm not satisfied with the incentive structure of having only a single deliverable at the end of the project.  I'm guessing a better project proposal would have more steps that can be achieved in smaller timeframes.

[2021-06-30 12:52] #58 closed

[2021-07-22 09:42] ripcurlx commented on #31
We are still paying back two victims as they weren't paid back complete. It is kind of my fault, as I only focused on the total payback number, but didn't look at the single repayments 😬
<img width="842" alt="Bildschirmfoto 2021-07-22 um 11 40 17" src="https://user-images.githubusercontent.com/170962/126619343-101b589b-4a8d-41b6-be44-3d2649e8a493.png">

[2021-08-01 12:57] yeshyesh528 opened #59 "bgmi bejjsjsj"
## Description

## Rationale

## Criteria for delivery

## Measures of success

## Risks

## Tasks

## Estimates

## Notes

[2021-08-01 12:58] yeshyesh528 commented on #59
Bgmi hack proof

[2021-08-01 12:58] #59 closed

[2021-08-13 12:11] flybylow commented on #57
Sorry for the delay, It have BSQ now so made the contribution request.

[2021-08-21 13:24] danielv1234 commented on #31
I thought the amount would be paid in btc regardless of the value. . Big loss for me as victim. I did lost my btc, not USD or some kind of fiat.

[2021-08-23 08:57] ripcurlx commented on #31
## Cycle 27 report

Victim #5 still getting paid back all other addresses were removed from the filter.

![Bildschirmfoto 2021-08-23 um 10 55 41](https://user-images.githubusercontent.com/170962/130419593-f9f45d9e-23de-4b82-ae22-5c59e627856d.png)

[2021-08-23 08:58] ripcurlx commented on #31
Based on the consensus in https://github.com/bisq-network/proposals/issues/249  I monitored the USD value.

[2021-09-04 18:15] leo816 opened #60 "Dev Call - Priorities"
## Dev call 2021-09-03
### Topics

    - Introduction:

       What are Bisq's top Priorities?

We all agree on [Misq](https://github.com/bisq-network/misq)/Bisq's 2.0 long-term vision. for that to happen, we need the right developers with enough experience on this area. Bisq contributors should do all they can to attract the right talent.

With this in mind, these are Bisq's top priorities in the

[2021-09-04 19:09] ghubstan commented on #60
@ripcurlx has been using the api for personal stuff and that helps with testing.  @sqrrm has done all of the api reviews.  It will help if he continues.  They both have their own chores, so I'm not hoping they can take on much more than in the past.  Other devs said I was making steady progress before api work was put on hold.  I think I can return to that speed again pretty soon.

A fully functio

[2021-09-04 21:12] pazza83 commented on #60
Hi @leo816

I would like to add 6-10 payment methods over the next couple of months.

I need help of a dev that is available to do the coding work required for adding them.

@jmacxx has done three payment methods, I am unsure as to how many more @jmacxx can take on?
@BtcContributor has done one but is no longer able to take on any work

It would be great if one or two more devs were available.

[2021-09-10 19:38] leo816 commented on #60
## Dev call 2021-09-10
### Topics

**1. Devin's Proposal**

- @devinbileck 's mobile improvement proposal https://github.com/bisq-network/proposals/issues/342

hybrid app development approach, a single codebase that could support both, Swift app for IOS and java for android.
Possible developer candidate reached out.

concerns from Christoph: too many dependencies, is it easy to do an audit? potent

[2021-09-11 17:07] flybylow commented on #60
@Pazza has some great ideas, No one is assigned yet, feel free to put ideas out there. --> Where can I read up on the ideas? Would love to know more ...

[2021-09-14 13:48] Pazza commented on #60
I appologize for posting this here, I can not find another way to reach out to @pazza83. For several months now, it appears as though you are getting tagged as @pazza which is notifying me of everything issue/comment/PR. Just an FYI to your users (as well as yourself who may not be receiving notifications).

[2021-09-16 19:26] pazza83 commented on #60
Thanks for reaching out much appreciated, sorry that you are being notified.

Hey everyone please can you tag me in to any discussion here as @pazza83

My user name on Keybase is pazza but on here it is @pazza83

[2021-09-16 19:30] pazza83 commented on #60
Hi @flybylow  many thanks I will summarize the UX posts I have proposed yet to be implemented shortly and post here.

[2021-09-20 10:51] leo816 commented on #60
## Dev call 2021-09-20
### Topics

**1. Bisq on mobile**
Devin discussing the debate about what language to use for his proposal (Kotlin)
the difficulty finding the right devs for this.
m52go would like to see a firm timeline for the Mobile project to have interop with the Bisq network natively (e.g. the client/server access to offer book that chimp mentioned).

**2. Release 1.7.4**
Emzy just push

[2021-09-23 15:03] aalmiray commented on #60
Hello everyone, this is Andres, author of JReleaser. In your own words, what's required to consider JReleaser as ready? Please feel free to post a discussion topic and/or issues at https://github.com/jreleaser/jreleaser

[2021-09-28 18:37] leo816 commented on #60
## Dev call 2021-09-28
### Topics

**1. X**
@cbeams Q&A

**2. API update**
@ghubstan API  update:

I am working on a new API CLI getrades --category=<open|closed|failed> method.  Submission of a PR for that will be preceded by some preliminary refactoring work in a couple of desktop module trade views and models (another PR). I think it will be ready ~6-SEP, +/- a couple of days.

After that (bugs

[2021-10-15 16:58] leo816 commented on #60
**Priority list**

 **1. BSQ<->BTC swap**

- @ripcurlx  annd @sqrrm are on this.
- the chimp also joined Sqrrm to review the new protocol, @ripcurlx has  switched to continue the work of Jakub-CZ with the buy-BSQ changes.

**2. API**

I am working on a new API CLI getrades --category=<open|closed|failed> method.  Submission of a PR for that will be preceded by some preliminary refactoring work in

[2021-10-15 18:15] leo816 commented on #60
## Dev call 2021-10-15
### Topics

**1. BSQ<->BTC swap**
Almost done, next release will include it.
@ripcurlx :
making the whole process easier (specially for non users)

**2. Payment Methods**
@jmacxx added 14 new payment methods.

**3. API update**
@ghubstan API  update:

**4. XMR/BTC swap**
Currently reviewing the process to implement it.

**5. Review of priority list**

<details>

<summary>Cli

[2021-10-15 18:58] chimp1984 opened #61 "Investigate XMR-BTC atomic cross chain swap protocol options"
## Description
Research for figuring out feasibility and best architecture for integration XMR-BTC atomic cross chain swaps.
There are 2 projects which have implemented it:
- https://github.com/farcaster-project (funded by the XMR community, they worked since several years on that problem and have a deep cryptographic background)
- https://github.com/comit-network/xmr-btc-swap (startup prototyping

[2021-10-29 20:05] ghost commented on #60
## Dev call 2021-10-29

### Topics & Priorities

- **Bisq mobile**: new potential contributor to be put into contact with Devin.

- **BSQ<->BTC atomic swap**
PRs and refactorings done, being reviewed by @stejbac, @ghubstan, @ripcurlx et al.

- **DAO performance improvement / refactor**
PRs ready for review & testing.  Action all devs.

- **v1.8.0** - We should allocate more time for testing this c

[2021-11-09 10:49] leo816 commented on #60
## Dev call 2021-11-08
### Topics

**1. BSQ<->BTC swap**
PRs and refactorings done, being reviewed by @stejbac, @ghubstan, @ripcurlx et al.

**2. Payment Methods**
@jmacxx :
working on the last 4 payment methods for @pazza; started on Grin re-listing tasks; and the usual bug fixing / support.

**3. API update**
@ghubstan API  update:
re-submitted some API related work in the last few days:
(1) som

[2021-11-24 00:12] leo816 commented on #60
## Dev call 2021-12-07
### Topics

**1. Provide ASIC resistant PoW scheme for BSQ swaps**
Already merged by Steven. Now he will focus on bug fixing
https://github.com/bisq-network/bisq/pull/5858

**2. sqrrm started reviewing the API PRs**

**3. Messaging problem**
Is the core to a large percentage of all failed trades and yet no one is looking into it besides James

**4. Review of priority list**

[2021-12-01 00:16] invertedbobb commented on #31
Not too happy with this of course myself, being victim #4.
From the proposal mentioned by @ripcurlx i understood that the initial attempt would be to compensate USD value, which has been achieved at this point now that the price of BTC has been going up again strongly lately. I also understood that after the USD compensation, attempts would be made to keep compensating up to the BTC value. This co

[2021-12-01 07:19] danielv1234 commented on #31
Someone should open new proposal, for paying remaining btc value, but with lower percentage from Bisq income.

[2021-12-01 09:24] MwithM commented on #31
I know that the victims wanted to be paid in BTC, but that was not a realistic solution. Victims could have asked for a credit to buy the BTC missing if they were so optimistic about the future price of BTC.

Keep discussing to be paid in BTC one year and a half after the start of the repayment makes absolutely no sense, as we already know that being paid in BTC is much better than to be paid in U

[2021-12-01 10:28] danielv1234 commented on #31
From the start, discussion was for repayment loss. We did not loss USD, we send Monero, and we lost Btc.
Also, discussion was for full BTC repayment, and USD value when send will be counted only as pure information .
There was no proposal for credit, there was only proposal for BSQ coins equivalent, but this was not a good solution, because someone can sell and take price down.
We did not request

[2021-12-17 13:07] chimp1984 commented on #53
Close as completed.

[2021-12-17 13:07] #53 closed

[2021-12-17 13:07] chimp1984 commented on #54
Close as completed

[2021-12-17 13:07] chimp1984 commented on #52
Close as completed

[2021-12-17 13:07] #52 closed

[2021-12-17 20:36] leo816 commented on #60
## Dev call 2022-01-10
### Topics

**1. Misq brainstorm and updates**
Update of current plans and review of in progress work from Chimp.
It would also be great to have someone developing the mobile app simultaneously. No updates from Devin yet.

**2. Recommendation for power users**
for big bisq users, using a local bitcoin node will really help and avoid different bugs.
creating a lot of offers l

[2021-12-18 10:51] alvasw opened #62 "Integrate Bitcoind as a wallet backend into Misq"
## Description

This project integrates Bitcoind as a wallet backend into the Misq project. In Misq, we allow users to select between multiple wallets (see #52).

## Rationale

In Misq, we want to break away from developing our own wallet. There are a lot of excellent wallets with which we can communicate using RPC calls.

## Criteria for delivery

This project is complete when the needed RPC call

[2021-12-21 11:42] cd2357 commented on #44
@ripcurlx can this be considered done? If yes, I can close it.

[2021-12-21 11:53] #44 closed

[2021-12-25 14:25] #62 closed

[2022-01-08 13:50] alvasw opened #63 "Bisq2: Create Wallet Prototype UI To Test Wallet Functionalities"
## Description

In bisq-network/projects#62 I implemented Bitcoin Core as a wallet backend. The pull request bisq-network/bisq2#16 was merged two weeks ago. @chimp1984 suggested creating a UI prototype for the wallet before implementing the Electrum RPC. Bisq2 does not have a UI yet, so this would help us test the wallet functionalities (send, receive, ...) more smoothly and find bugs early. I'll

[2022-01-08 13:51] alvasw commented on #63
My progress so far.

|    |   |
| ------------- | ------------- |
| ![bisqd_1_txs](https://user-images.githubusercontent.com/95712046/148646706-da97a506-986b-427a-bccb-b9a4ef77eff4.png)  | ![bisqd_2_send](https://user-images.githubusercontent.com/95712046/148646712-d675d1d6-535b-4ba9-ace8-a436f74641e2.png)  |
| ![bisqd_3_recv](https://user-images.githubusercontent.com/95712046/148646719-d59d633d-0

[2022-01-08 14:09] chimp1984 commented on #63
Does that mean multiple wallets in the same app or just starting different apps with different wallets?
I think the latter is enough.

[2022-01-17 00:41] chimp1984 commented on #51
I dropped the idea to ship a MVP with the above defined scope but got lot of progress on the Network layer and have a similar MVP with a simple message board where users can post trade intents and a private chat section.
It would require much more work to make that a real user facing product and I consier other work as higher priority (e.g. work on the overall domain).

I share here my current sta

[2022-01-17 01:00] chimp1984 commented on #51
As one can see in the RTT I2P seems to be faster than Tor

[2022-01-17 10:18] ripcurlx commented on #51
Looks promising! 👍

But I'm not so sure about the ask/bid usage. On trading platforms they have a somewhat a different meaning and we probably want to use them in the 'real' offer book like that.

Maybe use for the trade intents:

| I want to exchange  |
| ------------- |
| EUR via SEPA at market rate |

| I want to receive  |
| ------------- |
| 0.01 BTC |

and in the postings table:

| Date  | U

[2022-01-17 13:03] chimp1984 commented on #51
Yes the user facing language is not decided yet. I tend to use ask/bid in the domain. There are cases where its not clear which one is the "main" currency and using the  buy/sell or base and counter currency terminology will not work well.
E.g. EUR - USD or BTC-RSK - BTC-LIQ or altcoin-altcoin.
The user has a clear idea about what they want. And mostly also about what they have but even here there

[2022-01-19 14:03] UX-P commented on #51
This is a really good start in introducing a more social aspect to Bisq. It encourages the Bisq community to stay connected and engaged during the trading process and should be very useful for first time Bisq traders as well as reputable traders. Just a few design considerations for those focusing on UX:

- Include message and guidelines on explaining privacy as there is a doubt on Bisq’s security

[2022-02-08 18:59] alvasw commented on #63
When I started this task, I wasn't sure about the details. I took your network monitor UI as inspiration.

[2022-02-08 19:01] alvasw commented on #63
The final result:
|    |   |
| ------------- | ------------- |
| ![bisq2_wallet_1](https://user-images.githubusercontent.com/95712046/153057128-a3bce677-0c55-45d0-89a8-ea636fc649a4.png) | ![bisq2_wallet_2](https://user-images.githubusercontent.com/95712046/153057138-5251df32-8486-4eef-8f02-8043df425d88.png) |
| ![bisq2_wallet_3](https://user-images.githubusercontent.com/95712046/153057148-7102998e

[2022-02-08 19:08] alvasw commented on #63
This project is completed.

- bisq-network/bisq2#51
- bisq-network/bisq2#73
- bisq-network/bisq2#74
- bisq-network/bisq2#81
- bisq-network/bisq2#82

[2022-02-08 19:08] #63 closed

[2022-02-11 20:53] leo816 commented on #60
## Dev call 2022-02-11
### Topics

**1. Bisq2.0/Misq brainstorm and updates**
Update of current plans and review of progress work from Chimp.
Connecting from i2p y Tor simultaneously.
Liquid for multisig and swaps will work.
social aspect -  moderators will have to burn btc and will be compensated.

**2. We need a full time UI developer**
working for the next 4-5 months
It would also be great to h

[2022-02-15 19:03] alvasw opened #64 "Bisq2: Liquid Wallet Integration (Elements)"
## Description

We want to implement atomic swaps between Bitcoin and L-BTC/Liquid Assets in Bisq 2. To do that, we need to implement a Liquid Wallet backend first. In this project, I'll implement the backend for the Elements Wallet (https://blockstream.com/elements/).

## Rationale

This is needed to implement atomic swaps between Bitcoin and L-BTC/Liquid Assets.

## Criteria for delivery

This p

[2022-03-03 10:03] leo816 commented on #60
## Dev call 2022-02-02
### Topics

**1. Comments on Tasks/priorities**
ripcurlx priorities: review/merge PRs, esp. API to "market" it with users; then UI + contact with UI devs (no leads for now); API is good enough for trading bot, not for mediation/arbitration; might be issue where API daemon needs restarting with heavy usage.

**2. Next release**
ripcurlx: release 1.8.3 close as it just needs s

[2022-03-12 18:19] pazza83 opened #65 "Payment Methods - Plans for 2022"
Reference:  [Payment Methods Role ](https://github.com/bisq-network/roles/issues/38#issuecomment-727760468)

## Description

I am documenting my plans for what I would like to do with payment methods over 2022.

In 2021 I mainly worked on getting a [20+ payment methods added](https://github.com/bisq-network/bisq/discussions/5462).

Many of the new payment methods have not see much uptake. Therefor

[2022-03-20 10:05] alvasw commented on #64
Delivered in https://github.com/bisq-network/bisq2/pull/111.

[2022-03-20 10:05] #64 closed

[2022-03-23 21:17] chimp1984 commented on #50
I think that would be a potential protocol candidate for Bisq 2. Once we have the Bisq Multisig implemented we could make a variation our of it without the sellers BTC amount and have the XMR-Fiat protocol. That should not be too much effort.
For Bisq 1 I think the effort is too high.

[2022-04-29 10:40] leo816 commented on #60
## Dev call 2022-04-20
### Topics

**1. Comments on Tasks/priorities**
Bisq2.0 update with chimp. will take about 2 months to have a first prototype ready. alcom, alva will be joining as devs.
the chat based area should be very feasible to adapt to mobile.
promoting bisq is crucial.
chimp: API should still be n1 on the priority list.

security model in terms of how the offers are secured, reputati

[2022-06-25 08:19] leo816 commented on #60
## Dev call 2022-06-24
### Topics

**1. Comments on Tasks/priorities**
- Tor issue seems partly solved but future problems will likely arise as there is no way to solve it from our side. Useful to implement at least an additional tor monitor to have multiple views of the network status, but long term solution is having multiple supported networks(We have to make sure we always have the latest rele